@import "~sass/variables";

.contact-container {
	// background-image: url(../../assets/reservation_picture.png);
	// background-size: cover;
	// background-position: center;
	// -webkit-flex: 1 0 auto;
    // -ms-flex: 1 0 auto;
	// flex: 1 0 auto;
	margin-left: 0px;
	margin-right: 0px;
	>pre:first-of-type {
		margin-top: 20px;
	}
}
.contact-box {
	width: 100%;
	padding: 0;
}
.pageheading {
	color: $color_lightorange;
	margin-bottom: 40px;
	padding-bottom: 10px;
	border-bottom: solid 3px $color_lightorange;
	float: none;
	white-space: nowrap;
	width: 150px;
	margin-left: 30px;
}

pre:first-child {
	margin-top: 20px;
}

pre {
	white-space: pre-wrap;
	padding: 0px 20px 30px 40px !important;
	word-break: break-word;
	font-family: $font_family_oswald_sans;
	font-size: 18px;
	margin-bottom: 20px;
}
b {
	font-size: 20px;
}
@media (max-width:991px) {
	pre {
		width: 80%;
		// margin: 0 auto;
		margin-bottom: 20px;
	}
}