@import "~sass/variables";
@import "~sass/mixins";

.request-site-page {
    background: $color_iron;
    padding-bottom: 20px;
}

.site-requests-main-display {
    margin: 0px;
    color: $color_black;
    width: 75%;
    padding: 0px 10px 0 0;
    margin: 20px auto 0 12.5%;
    min-height: 300px;
    border-radius: 2px;
    display: inline-block;
    @include mqueryphone(320px, 767px) {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .site-details-con {
        background: $color_white;
        margin-top: 20px;
        padding: 15px;
        @include mqueryphone(320px, 767px) {
            padding-left: 0px;
            padding-right: 0px;
        }
        agm-map {
            height: 170px;
            width: 100%;
        }
        &:first-of-type {
            padding-left: 0px;
            @include mqueryphone(320px, 767px) {
                padding-left: 15px;
            }
        }
        .approve-btn-con {
            margin-top: 40px;
            text-align: right;
            @include mqueryipad(768px, 1024px) {
                margin-top: 20px;
            }
            @include mqueryphone(320px, 767px) {
                margin-top: 20px;
            }
            .primary-btn {
                width: 100%;
                &:nth-child(1) {
                    border-color: #FF5C00;
                    color: #fff;
                    background-color: #ff5c00;
                }
                &:nth-child(2) {
                    margin-top: 20px;
                    &:hover {
                        background: $color_white;
                        border-color: $color_black;
                        color: $color_black;
                    }
                }
            }
        }
        .view-details-left-sec {
            h3 {
                // padding-top: 5px;
                font-weight: 600;
                margin-bottom: 10px;
                color: $color_black;
                @include mqueryphone(320px, 767px) {
                    margin-top: 20px;
                }
            }
            span {
                display: block;
                color: $color_black;
                // font-weight: 600;
                font-size: 14px;
                letter-spacing: .5px;
            }
        }
    }
    // .site-item {
    //     width: 100%;
    //     float: left;
    //     border-bottom: 1px solid $color_lightestgrey;
    //     padding: 15px 15px 5px 20px;
    //     background: $background_color_light;
    //     >div {
    //         padding-left: 5px;
    //         >span {
    //             width: 33%;
    //             font-size: 20px;
    //             display: inline-block;
    //             vertical-align: top;
    //             margin-bottom: 10px;
    //             @include mqueryphone(414px, 1024px) {
    //                 font-size: 16px;
    //                 width: 32%;
    //             }
    //             @include mqueryphone(320px, 413px) {
    //                 width: 100%;
    //             }
    //         }
    //     }
    //     .primary-btn {
    //         margin: 10px 0 15px 0;
    //         padding-top: 7px;
    //         padding-bottom: 7px;
    //     }
    // }
}

.addEditSiteForm {
    background-color: $background_color_light;
    padding: 10px 0px;
    margin: 0px 0px 20px 0px;
    >div {
        margin-bottom: 10px;
        >label {
            width: 100%;
            margin-bottom: 2px;
        }
        >input[type="text"],
        >select {
            width: 100%;
            border: solid 1px $color_lightgrey;
            padding: 6px;
            color: $color_black;
            font-size: 18px;
            &:disabled {
            background: #fff;
            opacity: 0.5;
            }
        }
        >select {
            font-size: 16px;
            background: $color_white;
        }
        .primary-btn {
            margin-top: 10px;
        }
    }
}

.no-orders-message {
    margin-bottom: 10px;
    color: $color_grey;
    margin-top: 10px;
}

.modal {
    display: block;
    .fa-times {
        position: absolute;
        right: 10px;
        top: 8px;
        cursor: pointer;
        z-index: 1;
    }
    a {
        margin-left: 5px;
    }
}

.site-app-rej-con {
    display: inline-block;
    width: 100%;
    h2 {
        margin-top: 25px;
        font-weight: 700;
    }
}

.clndr-container {
    margin-top: 20px;
    @include mqueryphone(320px, 767px) {
        width: 70%;
    }
}