<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php $_order = $block->getOrder() ?>
<?php $_items = $_order->getItems() ?>
<?php foreach ($_items as $_item): ?>
<div style="width: 100%;display: flex;padding: 30px 30px 30px 0;border-bottom: solid 1px #a7a7a7;box-sizing: border-box;">
          <div id ="custom" style="margin-right: 10px;font-size: 26px;font-weight: bold;padding: 0 20px;">1</div>
          <div style="width: 100%;">
            <p style="margin: 0px;font-size: 26px;font-weight: bold;">{{trans "%sku" sku=$_item.getSku() |raw}}</p>
            <span style="font-size: 15px;color: #a7a7a7;display: block;">{{trans "Site Coordinates (36.8655026914 , -119.738943445), Location Type(Other), Type (Steel)"}}</span>
            <div style="display: flex;justify-content: space-between;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-top: 15px;">
              <div style="margin-bottom: 20px;">
                <div style="margin-bottom: 5px;">
                  <span style="font-weight: bold;">{{trans "Rent/Lease Monthly Fee:"}}</span>
                  <span style="font-size: 24px;font-weight: bold;">{{trans "%monthly_charge" monthly_charge=$_item.getMonthlyCharges() |raw}}</span>
                  <sub style="font-weight: bold;bottom: 0;position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;">{{trans ".00"}}</sub>
                </div>
                <p style="margin: 0;font-size: 14px;color: #a7a7a7;">{{trans "(Billed annually unless otherwise determined)"}}</p>
              </div>
              <div>
                <div style="margin-bottom: 5px;">
                  <span style="font-weight: bold;">{{trans "One Time Fee:"}}</span>
                  <span style="font-size: 24px;font-weight: bold;">{{trans "$3750"}}</span>
                  <sub style="font-weight: bold;bottom: 0;position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;">{{trans ".00"}}</sub>
                </div>
                <p style="margin: 0;font-size: 15px;color: #a7a7a7;">{{trans "Site Selection Fee: $750.00"}}</p>
                <p style="margin: 0;font-size: 15px;color: #a7a7a7;">{{trans "Site Survey &amp; Lease Exhibit Fee: $3000.00"}}</p>
              </div>
            </div>
          </div>
        </div>


<?php endforeach; ?>
