<?php $items = $block->getItems() ?>
<?php $email = $block->getEmail() ?>
<?php $name = $block->getName() ?>
Site Request#<?= $items[0]->getRequestId()?><br/><br/>

Requested Site details are given below.<br/><br/>

<table class="email-items">
    <thead>
        <tr>
            <th class="item-requestid">
                <?= /* @escapeNotVerified */  __('CustomerName'); ?>
            </th>
            <th class="item-requestid">
                <?= /* @escapeNotVerified */  __('Email'); ?>
            </th>
            <th class="item-requestid">
                <?= /* @escapeNotVerified */  __('CityArea'); ?>
            </th>
            <th class="item-requestid">
                <?= /* @escapeNotVerified */  __('Latitude'); ?>
            </th>
            <th class="item-requestid">
                <?= /* @escapeNotVerified */  __('Longitude'); ?>
            </th>
            <th class="item-requestid">
                <?= /* @escapeNotVerified */  __('PoleClass'); ?>
            </th>
            <th class="item-state">
                <?= /* @escapeNotVerified */  __('State'); ?>
            </th>
            <th class="item-city">
                <?= /* @escapeNotVerified */  __('City'); ?>
            </th>
        </tr>
    </thead>
 
    <tbody>
     <?php foreach ($items as $item):?>
    	<tr>
			<td><?= $name ?></td>
			<td><?= $email ?>
			<td><?= $item->getCityArea() ?></td>
			<td><?= $item->getLatitude() ?></td>
			<td><?= $item->getLongitude() ?></td>
			<td><?= $item->getPoleClass() ?></td>
			<td><?= $item->getState() ?></td>
			<td><?= $item->getCity() ?></td>
        </tr>
          <?php endforeach;?>
    </tbody>
 
</table>
 