<?php $items = $block->getItems() ?>
<?php $baseUrls = $block->getUrls() ?>
<?php $customerName = $block->getcustomerName() ?>
<br/>
Dear <?= $customerName?>,<br/><br/>

XG Communities has approved your request. Below are site details you have requested. <br/><br/>


<table class="email-items">

	<tbody>
		<tr><td><b>Sku :</b></td><td><?= $items->getSku() ?></td></tr>
		<tr><td><b>Latitude :</b></td><td><?= $items->getData('latitude')?></td></tr>
		<tr><td><b>Longitude :</b></td><td><?= $items->getData('longitude')?></td></tr>
		<tr><td><b>State :</b></td><td><?= $items->getData('state')?></td></tr>
		<tr><td><b>City :</b></td><td><?= $items->getData('city')?></td></tr>
		<tr><td><b>City Area :</b></td><td><?= $items->getData('city_area')?></td></tr>
		<tr><td><b>Pole Class :</b></td><td><?= $items->getData('pole_class')?></td></tr>
		  
</table>

<br/>You can reserve the Site from XG Communities through here <a href="<?=$baseUrls?>">XG Communities</a>