<?php $items = $block->getItems() ?>
<?php $msgs = $block->getMsgs() ?>
<?php $customerName = $block->getcustomerName() ?>

<br/>
Dear <?= $customerName?>,<br/><br/>

XG Communities has Rejected the Site you requested for. Below are the Details <br/><br/>

<table class="email-items">

	<tbody>
		
		<tr><td><b>Latitude :</b></td><td><?= $items->getData('latitude')?></td></tr>
		<tr><td><b>Longitude :</b></td><td><?= $items->getData('longitude')?></td></tr>
		<tr><td><b>State :</b></td><td><?= $items->getData('state')?></td></tr>
		<tr><td><b>City :</b></td><td><?= $items->getData('city')?></td></tr>
		<tr><td><b>City Area :</b></td><td><?= $items->getData('city_area')?></td></tr>
		<tr><td><b>Pole Class :</b></td><td><?= $items->getData('pole_class')?></td></tr>
		<tr><td><b>Rejection Reason :</b></td><td><?= $msgs?></td></tr>
		
	</tbody>    
</table>