
<div class="container-fluid">
	<app-header-new (loggedUserDetails)="receivedUserData($event)"></app-header-new>

	<site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
	<div class="loader-bg" [hidden]="!showLoader"></div>
	<div class="loader" [hidden]="!showLoader"></div>
	<div class="container-body profile-body">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
			<h1>Profile Management</h1>
			<p>Review and edit your profile details, project contacts and purchase order details</p>
		</div>
		<!-- <div class="quotes">
			<div class="col-md-6 col-md-offset-2" style="padding: 20px 0;">
				<h1 class="title">Profile Management</h1>
			</div>
		</div> -->
		
		<div class="row profile-all-sections-cont">
			<div class="profile-all-sections">

				<div class="col-md-2 col-md-offset-2 tabs">
					<a class="tab-box"  [ngClass]="{'active-box':profileTabShow}" (click)="showProfileTab()"><i class="fas fa-user"></i><span class="tab-text">My Profile</span></a>
					<a class="tab-box"  [ngClass]="{'active-box':ponumberTabShow}" (click)="showPonumbersTab()"><i class="fas fa-file"></i><span class="tab-text">Purchase Orders</span></a>
					<a class="tab-box"  [ngClass]="{'active-box':pcDetailsTabShow}" (click)="showProjectContactsTab()"><i class="fas fa-list"></i><span class="tab-text">Project Contacts</span></a>
					<a class="tab-box"  [ngClass]="{'active-box':changePassTabShow}" (click)="showChangePassTab()"><i class="fas fa-key"></i><span class="tab-text">Change password</span></a>
					<a class="tab-box"  [ngClass]="{'active-box':securityQuesTabShow}" (click)="showSecurityQueTab()"><i class="fas fa-lock"></i><span class="tab-text">Security Questions</span></a>
				</div>
		
				<div class="tabs-on-mobile">
					<a class="tab-box" [ngClass]="{'active-box':profileTabShow}" (click)="showProfileTab()"><i class="fas fa-user"></i></a>
					<a class="tab-box" [ngClass]="{'active-box':ponumberTabShow}" (click)="showPonumbersTab()"><i class="fas fa-file"></i></a>
					<a class="tab-box" [ngClass]="{'active-box':pcDetailsTabShow}" (click)="showProjectContactsTab()"><i class="fas fa-list"></i></a>
					<a class="tab-box"  [ngClass]="{'active-box':changePassTabShow}" (click)="showChangePassTab()"><i class="fas fa-key"></i></a>
					<a class="tab-box"  [ngClass]="{'active-box':securityQuesTabShow}" (click)="showSecurityQueTab()"><i class="fas fa-lock"></i></a>
				</div>
		
				<div class="col-md-6 white-bg-box profile-page" *ngIf="profileTabShow">
					<div class="personal-details">
						<form (ngSubmit)="editUserProfileDetails(profileForm)" #profileForm="ngForm">
							<div class="col-md-12" style="display:inline-block">
								<span class="text-success profile-save-success" *ngIf="isShowSaveSuccess">Profile updated successfully. Continue to <a [routerLink]="['/site/home']" class="cancelBtn">Site Search</a>.</span>
							</div>
		
							<!-- <div class="top-btn-section">
								<a class="profile-edit-btn" (click)='isEditEnabled=true' *ngIf="!isEditEnabled">Edit</a>
								<input class="profile-submit-button top-edit-save-btn" *ngIf="isEditEnabled && profileForm.valid && profileFormData.state !== ''" type="submit" value="Update" />
							</div> -->
		
							<div class="col-md-12">
								<mat-form-field>
									<input matInput placeholder="First Name" minlength="2" [(ngModel)]="profileFormData.firstName" name="firstName" required [disabled]="!isEditEnabled">
								</mat-form-field>
								<!-- <span class="text-label required">First Name</span>
								<input placeholder="First Name" minlength="2" [(ngModel)]="profileFormData.firstName" class="disabled" type="text" name="firstName" required [disabled]="!isEditEnabled"> -->
							</div>
		
							<div class="col-md-12">
								<mat-form-field>
									<input matInput placeholder="Last Name" minlength="2" [(ngModel)]="profileFormData.lastName" name="lastName" required [disabled]="!isEditEnabled">
								</mat-form-field>
								<!-- <span class="text-label required">Last Name</span>
								<input placeholder="Last Name" minlength="2" [(ngModel)]="profileFormData.lastName" class="disabled" type="text" name="lastName" required [disabled]="!isEditEnabled"> -->
							</div>
		
							<div class="col-md-6">
								<mat-form-field>
									<input matInput placeholder="Company" [(ngModel)]="profileFormData.company" name="company" required [disabled]="!isEditEnabled">
								</mat-form-field>
								<!-- <span class="text-label">Company</span>
								<input placeholder="Company" [(ngModel)]="profileFormData.company" [disabled]="!isEditEnabled" id="company" class="disabled" type="text" name="company" value=""> -->
							</div>
		
							<div class="col-md-6">
								<mat-form-field>
									<input matInput placeholder="Job Title" [(ngModel)]="profileFormData.jobTitle" name="jobTitle" [disabled]="!isEditEnabled">
								</mat-form-field>
								<!-- <span class="text-label">Job Title</span>
								<input placeholder="Job Title" [(ngModel)]="profileFormData.jobTitle" [disabled]="!isEditEnabled" id="jobTitle" class="disabled" type="text" name="jobTitle" value=""> -->
							</div>
		
							<div class="col-md-12">
								<mat-form-field>
									<input matInput placeholder="Email address" disabled required [(ngModel)]="profileFormData.email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$">
								</mat-form-field>
								<!-- <span class="text-label required">Email address</span>
								<input disabled [(ngModel)]="profileFormData.email" placeholder="Email Address" id="email" minlength="4" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" type="email" name="email" required> -->
							</div>
		
							<!-- <div class="col-md-12">
								<span class="text-label hide">Change Password</span>
								<a class="display-block cursor-pointer mrgnBtm25 hide">Send password reset link</a>
							</div> -->
		
							<div class="col-md-12">
								<mat-form-field>
									<input matInput placeholder="Phone Number" maxlength="10" minlength="10" required [(ngModel)]="profileFormData.phone" name="phone" [disabled]="!isEditEnabled">
								</mat-form-field>
								<!-- <span class="text-label required">Phone Number</span>
								<input placeholder="Phone Number" [(ngModel)]="profileFormData.phone" name="phone" class="disabled" type="text" id="phone" [disabled]="!isEditEnabled" required> -->
							</div>
		
							<div class="col-md-12">
								<mat-form-field>
									<input matInput placeholder="Address" required [(ngModel)]="profileFormData.addLine1" name="addLine1" [disabled]="!isEditEnabled">
								</mat-form-field>
								<!-- <span class="text-label required">Address</span>
								<input placeholder="Address line 1" [(ngModel)]="profileFormData.addLine1" name="addLine1" class="disabled" id="addLine1" type="text" [disabled]="!isEditEnabled" required> -->
							</div>
		
							<!-- <div class="col-md-12" style="display:none">
								<span class="text-label">Address line 2</span>
								<input placeholder="Address line 2" class="disabled" id="addLine2" type="text" value="">
							</div> -->
		
							<div class="col-md-12">
								<mat-form-field>
									<input matInput placeholder="City" required [(ngModel)]="profileFormData.city" name="city" [disabled]="!isEditEnabled">
								</mat-form-field>
								<!-- <span class="text-label required">City</span>
								<input placeholder="City" type="text" [(ngModel)]="profileFormData.city" class="disabled" id="city" name="city" required [disabled]="!isEditEnabled"> -->
							</div>
		
							<!-- <div class="col-md-4">
								<span class="text-label">State</span>
								<input placeholder="State" type="text" class="disabled" id="state" [(ngModel)]="profileFormData.state" name="state" required [disabled]="!isEditEnabled">
							</div> -->

							<div class="col-md-6">					
								<!-- <span class="text-label required">State</span> -->
								<mat-form-field>
									<mat-select name="state" placeholder="State" [(ngModel)]="profileFormData.state.region" required [disabled]="!isEditEnabled">
										<mat-option value="">Select State</mat-option>
										<mat-option *ngFor="let state of stateList" [value]="state.name" (click)="stateChangeEvent(state)">
											{{state.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
		
							<div class="col-md-6">
								<mat-form-field>
									<input matInput placeholder="Zip" #postalCode maxlength="5" required [(ngModel)]="profileFormData.zip" name="zip" [disabled]="!isEditEnabled">
									<mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
								</mat-form-field>
								<!-- <span class="text-label required">Zip</span>
								<input placeholder="Zip" type="text" class="disabled" id="zip" [(ngModel)]="profileFormData.zip" name="zip" required [disabled]="!isEditEnabled"> -->
							</div>
		
							<div class="col-md-12">
								<mat-form-field>
									<input matInput placeholder="Country" required [(ngModel)]="profileFormData.countryCode" name="country" disabled>
								</mat-form-field>
								<!-- <span class="text-label required">Country</span>
								<input placeholder="Country" type="text" id="country" class="disabled" [(ngModel)]="profileFormData.countryCode" name="country" required disabled> -->
							</div>
		
							<div class="col-md-12">
								<button class="primary-btn primary-btn-main profile-edit-button" type="button" *ngIf="!isEditEnabled" (click)='isEditEnabled=true; isShowSaveSuccess=false'>Edit</button>
								<a class="canceledit cancel-profile-edit" (click)="resetFrofileForm()" *ngIf="isEditEnabled">Cancel</a>
								<button class="primary-btn primary-btn-main profile-submit-button" [disabled]="profileForm.invalid || profileFormData.state === ''" [class.disabled-btn]="profileForm.invalid || profileFormData.state === ''" type="submit" *ngIf="isEditEnabled">Update</button>
							</div>
						</form>
					</div>
				</div>
		
				<div class="col-md-6 white-bg-box profile-page ponumber-tab" *ngIf="ponumberTabShow">
					<div class="ponumber-details">
		
		
						<div class="add-new-ponumber" (click)="addPo()">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<span>Add Purchase Order</span>
						</div>
		
						<form class="row new-ponumber-add-section" *ngIf="addNewPoTrue" (ngSubmit)="savePoNo(addPoNumberForm)" #addPoNumberForm="ngForm">
							<div class="col-lg-12 col-md-12 new-ponumber-box">
								<mat-form-field>
									<input matInput #newPoNumberInp placeholder="Puchase Order" required [(ngModel)]="newPoNumber" name="newPoNumber">
								</mat-form-field>
								<!-- <label class="text-label required">Puchase Order</label>
								<input type="text" #newPoNumberInp [(ngModel)]="newPoNumber" name="newPoNumber" class="new-contact-input ponumberinputedit" placeholder="Purchase Order" required /> -->
							</div>
							<div class="col-lg-12 col-md-12 new-ponumber-box">
								<mat-form-field>
									<input matInput placeholder="Comments" required [(ngModel)]="newPoComment" name="newPoComment">
								</mat-form-field>
								<!-- <label class="text-label required">Comments</label>
								<input type="text" [(ngModel)]="newPoComment" name="newPoComment" class="new-ponumber-input pocommentinputedit" placeholder="Comments" required /> -->
							</div>
							<!-- <input type="hidden" id="edit-ponumber-id" value=""> -->
							<div class="col-md-12 new-ponumber-addbtn-box">
								<button type="submit" [disabled]="addPoNumberForm.invalid" [ngClass]="{'disabled-btn':addPoNumberForm.invalid}" class="primary-btn primary-btn-main">{{poAddFlag?'Add':'Update'}}</button>
								<a (click)="addNewPoTrue=false" class="cancelAddPonumber">Cancel</a>
							</div>
						</form>
		
						<form id="ponumber-form">
							<div class="all-ponumber-cards">
								<div class="ponumber-card" *ngFor="let poItem of ponumberdata; let index = index ">
									<div class="ponumber-edit-delete row-delete-icon-wrap-card">
										<!-- <span class="glyphicon glyphicon-pencil" data-type="po" data-id="{{poItem.po_id}}" (click)="editPo(poItem, index);"></span> -->
										<i class="hidden-xs fas fa-pencil-alt" data-type="po" data-id="{{poItem.po_id}}" (click)="editPo(poItem, index);"></i>
										<span class="glyphicon glyphicon-remove" (click)="deletePo(poItem.po_id, index)"></span>
										<!-- <span class="cancel-sign" (click)="deletePo(poItem.po_id, index)"></span> -->
									</div>
									<p class="ponumber-number">{{poItem.po_number}}</p>
									<p class="ponumber-comments">{{poItem.comment}}</p>
								</div>
							</div>
		
							<span class="text-success ponumber-save-success">PO numbers saved successfully</span>
						</form>
					</div>
				</div>
		
				<div class="col-md-6 white-bg-box profile-page projectcontact-tab" *ngIf="pcDetailsTabShow">
		
					<div class="projectcontact-details">
						<div class="add-new-contact" (click)="addPc()">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<span>Add Contact</span>
						</div>
		
						<form class="row new-contact-add-section" *ngIf="addNewPcTrue" (ngSubmit)="savePcData(pcDetailSaveForm)" #pcDetailSaveForm="ngForm">
							<input type="hidden" id="edit-contact-id" value="">
							<div class="col-lg-12 col-md-12 new-contact-box">
								<mat-form-field>
									<input matInput placeholder="Name" #newPcNumberInp required [(ngModel)]="newPcName" name="newPcName">
								</mat-form-field>
								<!-- <label class="text-label required">Name</label>
								<input type="text" name="newPcName" #newPcNumberInp [(ngModel)]="newPcName" class="new-contact-input projectcontactnameedit" placeholder="Name" required> -->
							</div>
							<div class="col-lg-12 col-md-12 new-contact-box">
								<mat-form-field>
									<input matInput maxlength="10" placeholder="Phone" required [(ngModel)]="newPcPhone" name="newPcPhone">
								</mat-form-field>
								<!-- <label class="text-label required">Phone</label>
								<input type="text" maxlength="10" name="newPcPhone" [(ngModel)]="newPcPhone" class="new-contact-input projectcontactphoneedit" placeholder="Phone" required> -->
							</div>
							<div class="col-lg-12 col-md-12 new-contact-box">
								<mat-form-field>
									<input matInput placeholder="Company" required [(ngModel)]="newPcCompany" name="newPcCompany">
								</mat-form-field>
								<!-- <label class="text-label required">Company</label>
								<input type="text" name="newPcCompany" [(ngModel)]="newPcCompany" class="new-contact-input projectcontactcompanyedit" placeholder="Company" required> -->
							</div>
							<div class="col-lg-12 col-md-12 new-contact-box">
								<mat-form-field>
									<input matInput placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" required [(ngModel)]="newPcEmail" name="newPcEmail">
								</mat-form-field>
								<!-- <label class="text-label required">Email</label>
								<input type="email" name="newPcEmail" [(ngModel)]="newPcEmail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" required class="new-contact-input projectcontactemailedit" placeholder="Email"> -->
							</div>
							<div class="col-md-12 new-contact-addbtn-box">
								<button type="submit" [disabled]="pcDetailSaveForm.invalid" [ngClass]="{'disabled-btn':pcDetailSaveForm.invalid}" class="primary-btn primary-btn-main">{{pcAddFlag?'Add':'Update'}}</button>
								<a class="cancelAddContact" (click)="addNewPcTrue=false">Cancel</a>
							</div>
						</form>
		
						<form id="projectcontact-form">
							<div class="all-contact-cards">
								<div class="contact-card" *ngFor="let pcItem of pcdata;let index= index">
									<div class="contact-edit-delete row-delete-icon-wrap-card">
										<!-- <span class="glyphicon glyphicon-pencil" data-type="pc" (click)="editPc(pcItem, index)" data-id="{{pcItem.contact_id}}"></span> -->
										<i class="hidden-xs fas fa-pencil-alt" data-type="pc" (click)="editPc(pcItem, index)" data-id="{{pcItem.contact_id}}"></i>
										<span class="glyphicon glyphicon-remove" (click)="deletePc(pcItem.contact_id, index)"></span>
										<!-- <span class="cancel-sign" (click)="deletePc(pcItem.contact_id, index);"></span> -->
									</div>
									<p class="contact-name">{{pcItem.name}}</p>
									<p class="contact-company"><span class="glyphicon glyphicon glyphicon-briefcase"></span>{{pcItem.company}}</p>
									<p class="contact-email"><span class="glyphicon glyphicon-envelope"></span>{{pcItem.email}}</p>
									<p class="contact-phone"><span class="glyphicon glyphicon-phone-alt"></span>{{pcItem.phone}}</p>
								</div>
							</div>
		
							<span class="text-success projectcontact-save-success">Project contacts saved successfully</span>
						</form>
		
		
					</div>
				</div>

				<div class="col-md-6 white-bg-box profile-page" *ngIf="changePassTabShow">
					<div class="personal-details">
						<form class="change-pass-form" (submit)="changePassword(changePassForm.value);changePassForm.resetForm()" #changePassForm="ngForm">
							<div class="col-md-12" style="display:inline-block">
								<span class="text-success profile-save-success" *ngIf="isShowSaveSuccess">Password updated successfully.</span>
							</div>
							
							<div class="col-md-12">
								<mat-form-field>
									<input matInput type="password" minlength="8" ngModel placeholder="Current Password" name="curPassword" required>
									<mat-error>Current password is required</mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-12">
								<mat-form-field>
									<input matInput type="password" minlength="8" #newPassword ngModel placeholder="New Password" name="newPassword" required>
									<mat-error>
										Password must contain any 3 of the lower case, upper case, digits or special characters.
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-12">
								<mat-form-field>
									<input matInput type="password" required minlength="8" #confNewPassword ngModel placeholder="Confirm Password" name="conNewPassword">
									<!-- <mat-hint>Must be same as New Password</mat-hint> -->
									<mat-error>Confirm password is required and should match new password</mat-error>
								</mat-form-field>
							</div>
							
							<div class="col-md-12">
								<button class="primary-btn primary-btn-main profile-submit-button" [disabled]="changePassForm.invalid" [class.disabled-btn]="changePassForm.invalid" type="submit">Update</button>
							</div>
						</form>
					</div>
				</div>

				<div class="col-md-6 white-bg-box profile-page" *ngIf="securityQuesTabShow">
					<p class="security-que-message">For your protection, you can establish new security questions and answers. Just like changing your password frequently, changing your security questions and answers helps to ensure the security of your accounts.</p>
					<div class="personal-details">
						<form class="security-ques-form" (submit)="updateSecurityQues();" #changeSecurityQues="ngForm">
		
							<div class="col-md-12">
								<mat-form-field>
									<mat-select name="securityQues_1" [disabled]="!isSecQueEnabled" placeholder="Security Question 1" [(ngModel)]="set1Ques" required>
										<mat-option *ngFor="let set1 of securitySet1" [value]="set1.q_id">{{set1.question}}</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-form-field>
									<input matInput placeholder="Answer 1" [disabled]="!isSecQueEnabled" minlength="2" [(ngModel)]="set1Ans" name="answer_1" required>
								</mat-form-field>
							</div>

							<div class="col-md-12">
								<mat-form-field>
									<mat-select name="securityQues_2" [disabled]="!isSecQueEnabled" placeholder="Security Question 2" [(ngModel)]="set2Ques" required>
										<mat-option *ngFor="let set2 of securitySet2" [value]="set2.q_id">{{set2.question}}</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-form-field>
									<input matInput placeholder="Answer 2" [disabled]="!isSecQueEnabled" minlength="2" [(ngModel)]="set2Ans" name="answer_2" required>
								</mat-form-field>
							</div>

							<div class="col-md-12">
								<mat-form-field>
									<mat-select name="securityQues_3" [disabled]="!isSecQueEnabled" placeholder="Security Question 3" [(ngModel)]="set3Ques" required>
										<mat-option *ngFor="let set3 of securitySet3" [value]="set3.q_id">{{set3.question}}</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-form-field>
									<input matInput placeholder="Answer 3" [disabled]="!isSecQueEnabled" minlength="2" [(ngModel)]="set3Ans" name="answer_3" required>
								</mat-form-field>
							</div>
							
							<div class="col-md-12">
								<button class="primary-btn primary-btn-main profile-edit-button" type="button" *ngIf="!isSecQueEnabled" (click)='isSecQueEnabled=true;'>Edit</button>
								<a class="canceledit cancel-profile-edit" (click)='isSecQueEnabled=false;resetSecForm(tempSecFormData)' *ngIf="isSecQueEnabled && set1Id">Cancel</a>
								<!-- <button class="primary-btn primary-btn-main profile-submit-button" [disabled]="profileForm.invalid || profileFormData.state === ''" [class.disabled-btn]="profileForm.invalid || profileFormData.state === ''" type="submit" *ngIf="isEditEnabled">Update</button> -->
								<button class="primary-btn primary-btn-main profile-submit-button" [disabled]="changeSecurityQues.invalid" [class.disabled-btn]="changeSecurityQues.invalid" type="submit" *ngIf="isSecQueEnabled">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<site-selex-footer></site-selex-footer>	
</div>



