@import "~sass/variables";
@import "~sass/mixins";

.profile-body {
	// background-repeat: no-repeat;
	// background-position: top;
	// background-image: url(../../assets/reservation_picture.png);
	// background-size: cover;
	// -webkit-flex: 1 0 auto;
    // -ms-flex: 1 0 auto;
	// flex: 1 0 auto;
	color: #000;
	background: $color_iron;
	padding-bottom: 20px;
	.quotes {
		display: -webkit-flex; /* Safari */
		display: flex;
		h1.title {
			font-size: 40px;
			line-height: 40px;
			font-weight: 600;
		}
	}
}
.profile-page {
	padding: 45px 35px 45px 35px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	// box-shadow: inset 0 0 10px $color_boxshadow;
	// input[type="text"], input[type="email"], input[type="password"] {
	// 	outline: none;
	// 	font-size: 16px;
	// 	padding: 10px;
	// 	border: 1px solid $color_lightgrey;
	// 	width: 100%;
	// 	margin: 0 0 25px 0;
	// }
	// input[type="text"].ponumberinput, input[type="text"].pocommentinput {
	// 	border: none;
	// 	margin-bottom: 0;
	// 	padding: 2px;
	// 	background: $color_white;
	// }
	// input[type="text"].ponumberinputedit, input[type="text"].pocommentinputedit {
	// 	border: solid 1px $color_lightgrey;
	// 	padding: 4px;
	// }
	// input[type="text"].projectcontactname {
	// 	@extend input[type="text"].ponumberinput;
	// }
	// input[type="text"].projectcontactemail {
	// 	@extend input[type="text"].ponumberinput;
	// }
	// input[type="text"].projectcontactphone {
	// 	@extend input[type="text"].ponumberinput;
	// }
	// input[type="text"].projectcontactcompany {
	// 	@extend input[type="text"].ponumberinput;
	// }
	// input[type="text"].projectcontactnameedit {
	// 	@extend input[type="text"].ponumberinputedit;
	// }
	// input[type="text"].projectcontactemailedit {
	// 	@extend input[type="text"].ponumberinputedit;
	// }
	// input[type="text"].projectcontactphoneedit {
	// 	@extend input[type="text"].ponumberinputedit;
	// }
	// input[type="text"].projectcontactcompanyedit {
	// 	@extend input[type="text"].ponumberinputedit;
	// }
	// #state {
	// 	outline: none;
	// 	font-size: 16px;
	// 	padding: 8.5px;
	// 	border: 1px solid #a7a7a7;
	// 	width: 100%;
	// 	margin: 0 0 25px 0;
	// 	color: $color_black;
	// 	&:disabled {
	// 		background: #ebebe4;
	// 	}
	// }
}
.profile-nav {
	border-right: solid 1px $color_lightgrey;
	height: 40vh;
	padding-left: 40px;
	ul {
		list-style: none;
	}
	li {
		margin-bottom: 25px;
		cursor: pointer;
	}
}


.personal-details {
	width: 80%;
	margin: 0 auto;
	padding: 0 5%;
	min-width: 440px;
}

.ponumber-details {
	width: 90%;
	margin: 0 auto;
	padding: 0 5%;
	min-width: 440px;
}
.projectcontact-details {
	width: 90%;
	margin: 0 auto;
	padding: 0 5%;
	min-width: 440px;
}
.profile-submit-button {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
}
.canceledit {
	color: $color_lightorange;
	font-size: 18px;
	margin: 2em 0 0;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 15px;
}
.profile-select {
	outline: none;
	font-size: 16px;
	color: $color_black;
	padding: 10px;
	border: 1px solid $color_lightgrey;
	width: 100%;
	margin: 0;
	height: 46px;
	margin-bottom: 30px;
}
.profile-password-error {
	color: $color_lightorange;
	margin: 0px;
	display: none;
	text-align: left;
}
.profile-save-success {
	margin: 0px;
	text-align: left;
	font-weight: 700;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
.ponumber-save-success {
	margin: 0px;
	display: none;
	text-align: left;
	font-weight: 700;
	margin-bottom: 25px;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.projectcontact-save-success {
	margin: 0px;
	display: none;
	text-align: left;
	font-weight: 700;
	margin-bottom: 25px;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.ponumber-edit-button {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0;
}
.projectcontact-edit-button {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0;
}
.cancel-ponumber-edit {
	display: none;
}
.cancel-projectcontact-edit {
	display: none;
}
.ponumber-submit-button {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	display: none;
}
.projectcontact-submit-button {
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	display: none;
}
.addPonumber {
	text-align: right;
	color: $color_lightorange;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
}
.addContactDetails {
	text-align: right;
	color: $color_lightorange;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
}
.profile-edit-btn {
	float: right;
	font-size: 24px;
	width: 100%;
	text-align: right;
	cursor: pointer;
	padding-right: 15px;
}
.profile-save-btn {
	float: right;
	font-size: 24px;
	width: 100%;
	text-align: right;
	cursor: pointer;
	padding-right: 30px;
	display: none;
}

.profile-all-sections-cont {
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile-all-sections {
	justify-content: flex-start;
	margin-left: 0;
	margin-right: 0;
	display: flex;
	align-items: stretch;
	// @include mquery(991px) {
	// 	display: block;
	// 	min-height: calc(100vh - 243px);
	// 	padding-bottom: 0;
	// }
	@include mqueryipad(320px, 1024px) {
		display: block;
		min-height: calc(100vh - 243px);
		padding-bottom: 0;
	}
	@include mqueryipad(768px, 1024px) {
		width: 80%;
		margin: 0 auto;
	}
	@include mqueryphone(320px, 767px) {
		min-height: 700px !important;
		padding-left: 15px;
		margin-left: 15px;
	}
	// @include mquery(768px) {
	// 	min-height: 700px !important;
	// }
}
.top-btn-section {
	display: inline-block;
	width: 100%;
}
.tabs-on-mobile {
	display: none;
	@include mqueryipad(320px, 1024px) {
		display: flex;
	}
}
.tabs {
	background-color: $color_white;
	margin-right: 10px;
	padding: 0 10px;
	// @include mqueryipad(768px, 1024px) {
	// 	display: block !important;
	// }
	@include mqueryphone(320px, 1024px) {
		display: none;
	}
}
.tab-box {
	width: 100%;
	height: 100px;
	display: block;
	text-align: center;
	border-bottom: solid 1px $background_color_light;
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 20px;
	font-weight: 700;
	color: $color_darkgrey;
	&:first-of-type {
		margin-top: 10px;
		@include mqueryipad(767px, 1024px) {
			margin-top: 0;
		}
		@include mqueryphone(320px, 1024px) {
			margin-top: 0;
		}
	}
	&:last-of-type {
		border-bottom: 0px;
		margin-bottom: 10px;
		@include mqueryipad(767px, 1024px) {
			border-bottom: 1px solid $background_color_light;
			margin-bottom: 0;
		}
		@include mqueryphone(320px, 1024px) {
			border-bottom: 1px solid $background_color_light;
			margin-bottom: 0;
		}
	}
	&:hover {
		color: inherit;
	}
}
.tab-box-profile {
	margin-top: 10px;
}
input.top-edit-save-btn {
	text-transform: none;
	border: none;
	color: $color_bluelink;
	font-size: 24px;
	padding: 0;
	float: right;
	letter-spacing: normal;
	background-color: $color_white;
	&:focus {
		text-transform: none;
		border: none;
		color: $color_bluelink;
		font-size: 24px;
		padding: 0;
		float: right;
		letter-spacing: normal;
		background-color: $color_white;
	}
	&:hover {
		text-transform: none;
		border: none;
		color: $color_bluelink;
		font-size: 24px;
		padding: 0;
		float: right;
		letter-spacing: normal;
		background-color: $color_white;
	}
}
.heading-details {
	padding: 20px 0;
	margin: auto;
}
.tab-text {
	margin-top: 10px;
}
.active-box {
	color: $color_white;
	@include vendorize(background, linear-gradient(128deg, rgb(252, 105, 49) 0%, rgb(250, 122, 70) 100%));
	&:hover {
		color: $color_white;
	}
}
.ponumbertable {
	max-width: 98%;
	border-spacing: 0 5px;
	border-collapse: separate;
}
.projectcontacttable {
	max-width: 98%;
	border-spacing: 0 5px;
	border-collapse: separate;
}
.row-delete-icon {
	font-size: 15px;
	color: $color_white;
	transform: scale(0.6);
	left: 0px;
}
.row-delete-icon-wrap-card {
	height: 18px;
	text-align: center;
	line-height: 18px;
	position: absolute;
	right: 5px;
	top: 5px;
	.glyphicon, .fa-pencil-alt {
		cursor: pointer;
	}
	.glyphicon-remove {
		top: 4px;
		margin-left: 10px;
		font-size: 19px;
		color: $color_brightorange;
	}
}
.row-delete-icon-card {
	font-size: 15px;
	color: $color_white;
	transform: scale(0.6);
	left: 0px;
}
// .add-new-contact {
// 	margin-bottom: 30px;
// 	span {
// 		font-size: 30px;
// 		font-weight: 700;
// 		cursor: pointer;
// 		&.glyphicon-plus {
// 			color: $color_brightorange;
// 			margin-right: 10px;
// 		}
// 	}
// }
.all-contact-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// @include mquery(768px) {
	// 	justify-content: center;
	// }
	@include mqueryphone(320px, 767px) {
		justify-content: center;
	}
}
.contact-card {
	padding: 0 15px 30px 15px;
	background-color: $background_color_light;
	margin-bottom: 40px;
	width: 100%;
	min-width: 200px;
	position: relative;
	height: auto;
	height: fit-content;
	.glyphicon {
		margin-right: 5px;
	}
	p {
		padding: 5px;
		font-size: 18px;
		word-break: break-all;
		width: 100%;
	}
	.contact-name {
		font-size: 24px;
		font-weight: 700;
		margin-top: 10px;
	}
	.contact-email {
		font-size: 18px;
	}
	.contact-phone {
		font-size: 16px;
	}
	@include mqueryphone(320px, 767px) {
		margin-right: 10px;
	}
}
.new-contact-label {
	width: 100%;
	text-align: center;
	color: $color_lightorange;
}
.new-contact-add-section {
	background-color: $background_color_light;
	padding: 20px;
	margin: 0 0 60px 0;
	input[type="text"] {
		padding: 5px;
	}
	input[type="email"] {
		padding: 5px;
	}
	.cancelAddContact {
		margin-left: 15px;
		cursor: pointer;
	}
}
.cancelAddContact {
	color: $color_lightorange;
	font-size: 18px;
	margin: 2em 0 0;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 15px;
}
.cancelAddPonumber {
	color: $color_lightorange;
	font-size: 18px;
	margin: 2em 0 0;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 15px;
}
.add-new-ponumber, .add-new-contact {
	margin-bottom: 30px;
	span {
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		&.glyphicon-plus {
			color: $color_brightorange;
			margin-right: 5px;
		}
	}
}
.all-ponumber-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// @include mquery(768px) {
	// 	justify-content: center;
	// }
	@include mqueryphone(320px, 767px) {
		justify-content: center;
	}
}
.ponumber-card {
	padding: 0 15px 30px 15px;
	background-color: $background_color_light;
	margin-bottom: 40px;
	width: 100%;
	min-width: 200px;
	position: relative;
	height: auto;
	height: fit-content;
	.glyphicon {
		// font-size: 15px;
		margin-right: 5px;
		// color: $color_black;
	}
	p {
		padding: 5px;
		font-size: 18px;
		word-break: break-all;
		width: 100%;
		// text-align: left;
	}
	.ponumber-number {
		font-size: 24px;
		font-weight: 700;
		margin-top: 10px;
	}
	.ponumber-email {
		font-size: 18px;
	}
	.ponumber-phone {
		font-size: 16px;
	}
	@include mqueryphone(320px, 767px) {
		margin-right: 10px;
	}
}
.new-ponumber-label {
	width: 100%;
	text-align: center;
	color: $color_lightorange;
}
.new-ponumber-add-section {
	background-color: $background_color_light;
	padding: 20px;
	margin: 0 0 60px 0;
	.cancelAddPonumber {
		margin-left: 15px;
		cursor: pointer;
	}
}
.new-ponumber-box {
	teaxarea {
		width: 282px;
		height: 45px;
	}
}

@include mqueryphone(320px, 1024px) {
	.profile-page {
		width: 100%;
	}
	.tab-box {
		height: 45px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 0;
		border: none;
	}
	.tab-box-profile {
		margin-bottom: 0;
		margin-top: 0;
	}
	.tab-text {
		display: none;
	}
	.add-new-ponumber {
		span {
			font-size: 6vw;
		}
	}
	.add-new-contact {
		span {
			font-size: 6vw;
		}
	}
	.personal-details {
		width: 100%;
		padding: 0;
		min-width: auto;
	}
	.ponumber-details {
		width: 100%;
		padding: 0;
		min-width: auto;
	}
	.projectcontact-details {
		width: 100%;
		padding: 0;
		min-width: auto;
	}
}

.change-pass-form {
	.primary-btn {
		margin-top: 15px;
	}
	.mat-form-field {
		margin-bottom: 10px;
	}
}

.security-que-message {
	margin-bottom: 20px;
	font-size: 18px;
}

.security-ques-form {

	.mat-form-field-type-mat-input {
		margin-bottom: 20px;
	}
}