@import "~sass/variables";
@import "~sass/mixins";
.modal {
  display: block;
}

.modal-dialog {
  margin-top: 15%;
  width: 540px;
  max-width: 90%;
  @include mqueryipad(768px, 1024px) {
    margin-top: 50%;
  }
  @include mqueryphone(320px, 767px) {
    margin-top: 50%;
  }
}

.new-btn-light-back {
  padding: 6px 30px;
}

.modal-content {
  .fa-times {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $color_brightorange;
    z-index: 1;
    cursor: pointer;
    font-size: 1.3em;
  }
}

.popupmodal-body {
  // background-color: $color_iron;
  // color: $color_white;
  border-radius: 5px;
  padding: 35px 15px;
  font-weight: 700;
  // border-top-right-radius: 5px;
  >p {
    font-size: 18px;
  }
}

.modal-footer {
  background-color: #e2e3e6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
