<div class="modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <i class="fa fa-times" (click)="closePopUp()"></i>
      <div class="modal-body popupmodal-body">
        <p class="popup-msg" [innerHTML]="showPopUp"></p>
      </div>
    </div>
  </div>
</div>
