<div class="container-fluid">
  <app-header-new></app-header-new>

  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>

  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>

  <div class="container-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>Reserve Your Waitlist Site</h1>
      <p>You will receive an email when any of your waitlist sites become available.</p>
    </div>

    <div class="site-reservation-cart-sec">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-item" *ngFor="let site of waitListSites; let index=index">
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
          <img style="height: 50px;" src="assets/site-icon.png">
        </div>

        <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 search-item-left-sec">
          <h4>{{site.product.sku}}</h4>
          <!-- <p *ngIf="!site.reserved">
            Rent/Lease Monthly Fee:
            <strong>${{site.rent_lease_fee}}</strong>
            <span data-toggle="tooltip" title="Monthly fee active upon delivery of build permit" class="glyphicon glyphicon-question-sign tooltipTest">
              <span class="tooltiptext">Monthly fee active upon delivery of build permit</span>
            </span>
          </p>
          <span *ngIf="!site.reserved">(Billed annually unless otherwise determined)</span>
          <label *ngIf="!site.reserved" class="optionalSiteFeeLabel customChekboxLable">
            <input type="checkbox" name="optionalFeeStatus_{{index}}" (change)="changeOptionalFeeStatus(index, $event)" [checked]="site.optionalFeeStatus">
            <i></i> Add Site Survey &amp; Lease Exhibit(Fee) for
            <strong>${{site.site_survey_lease_fee | number}}</strong>
          </label> -->
          <p>Site is currently not available and may be reserved by another carrier or enterprise. You can request to be on
            waitlist and be notified if the site becomes available in future.</p>
        </div>

        <div [ngClass]="{'site-details-shown':site.showSiteDetails}" class="col-xs-offset-2 col-sm-offset-0 col-xs-8 col-sm-5 col-md-5 col-lg-5 search-item-right-sec">
          <p>
            <a href="javascript:void(0)">
              <span *ngIf="!site.showOTpricingdetails" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span *ngIf="site.showOTpricingdetails" class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </a>
            One Time Fee:
            <span class="otf-total">$0</span>
            <span data-toggle="tooltip" title="Monthly fee active upon delivery of build permit" class="glyphicon glyphicon-question-sign tooltipTest">
              <span class="tooltiptext">One Time fees for site, billed immediately</span>
            </span>
          </p>
          <!-- <div class="site-details" [hidden]="!site.showOTpricingdetails">
            <ul>
              <li>Site Selection Fee: ${{site.site_selection_fee}}</li>
              <li *ngIf="site.optionalFeeStatus">Site Survey &amp; Lease Exhibit Fee:
                <span class="otf-lease-fee">${{site.site_survey_lease_fee}}</span>
              </li>
            </ul>
          </div> -->
          <!-- <span *ngIf="!site.showSiteDetails" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <span *ngIf="site.showSiteDetails" class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          <a class="view-details" (click)="site.showSiteDetails=!site.showSiteDetails" href="javascript:void(0)">View Site Details</a> -->
        </div>

        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 remove-site-sec">
          <a (click)="removeSite(site)" href="javascript:void(0)">X</a>
          <p (click)="removeSite(site)">remove</p>
        </div>

        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con" *ngIf="site.showSiteDetails">
          <span (click)="site.showSiteDetails = false" class="glyphicon glyphicon-remove"></span>
          <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
            <agm-map [latitude]="site.x" [longitude]="site.y" [zoom]="8">

              <agm-marker [latitude]="site.x" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.y">

                <agm-info-window>
                  <strong>{{site.uniqueId}}</strong>
                </agm-info-window>

              </agm-marker>
            </agm-map>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 view-details-left-sec">
            <h3>{{selectedCityText}}, {{selectedStateText}}</h3>
            <span>Site Coordinates
              <br> ({{site.x}} , {{site.y}})</span>
            <span class="site-Details-loctype">Location Type ({{site.location_type}})</span>
            <span class="site-Details-type">Type ({{site.pole_type}})</span>
            <span>Electrical Services (Yes)</span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5 view-details-right-sec">
            <h3>Site Drawings</h3>
            <ol>
              <li>Drawing_A (
                <a href="javascript:void(0)">View</a>)
              </li>
              <li>Drawing_B (
                <a href="javascript:void(0)">View</a>)
              </li>
            </ol>
            <button type="button" class="primary-btn new-btn-light-back">
              <span class="glyphicon glyphicon-cloud-upload"></span> Upload Drawings
            </button>
          </div>

        </div> -->
      </div>

      <div *ngIf="waitListSites.length<1">
        <p class="no-sites">No site available in Wait List</p>
      </div>
    </div>
  </div>
  <site-selex-footer></site-selex-footer>
</div>
