@import "~sass/variables";
@import "~sass/mixins";
p.no-sites {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.site-reservation-cart-sec {
  margin: 0px;
  padding: 15px;
  background: $color_iron;
  display: inline-block;
  width: 100%;
  color: $color_black;
  vertical-align: top;
  @include mqueryphone(320px, 767px) {
    padding: 0px;
  }
  h3 {
    border-top: 1px solid $color_white;
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .note {
    margin-bottom: 15px;
    font-weight: bold;
  }
  .search-item {
    padding: 15px 0;
    margin: 0 0 20px 0;
    background: rgb(216, 216, 216);
    .site-details-con {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom: 10px solid $color_white;
        top: -10px;
        left: 51%;
      }
      background: $color_white;
      margin-top: 20px;
      padding: 15px;
      position: relative;
      .glyphicon-remove {
        position: absolute;
        right: 2%;
        top: 10%;
        z-index: 1;
        cursor: pointer;
      }
      agm-map {
        height: 170px;
      }
      h3 {
        color: $color_black;
      }
      .view-details-left-sec {
        span {
          display: block;
          color: $color_black;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
      }
      .view-details-right-sec {
        ol {
          padding-left: 15px;
          li {
            color: $color_black;
            font-weight: 600;
            font-size: 14px;
            a {
              color: $color_brightorange;
              font-size: 14px;
            }
          }
        }
        .primary-btn {
          margin-top: 20px;
          padding: 5px 10px;
        }
      }
    }
  }
  .search-item-left-sec {
    color: $color_black;
    border-right: 2px solid rgb(179, 179, 179);
    padding-right: 25px;
    h4 {
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 18px;
    }
    .optionalSiteFeeLabel {
      margin-top: 10px;
    }
    .wait-list-mes {
      color: $color_red;
      font-weight: bold;
      margin: 10px 0 10px 0;
    }
  }
  .search-item-right-sec {
    color: $color_black;
    padding-top: 30px;
    margin-bottom: 20px;
    &.site-details-shown {
      margin-bottom: 0px;
    }
    .otf-total {
      font-weight: 600;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 18px;
    }
    .glyphicon-plus,
    .glyphicon-minus {
      color: $color_brightorange;
    }
    .view-details {
      margin-top: 30px;
      display: inline-block;
      position: relative;
    }
    .site-details {
      font-size: 15px;
      margin-left: 25px;
    }
  }
  .remove-site-sec {
    text-align: center;
    >a {
      font-size: 3em;
      font-family: sans-serif;
      margin-top: 30%;
      color: $color_brightorange;
      display: inline-block;
      @include mqueryphone(320px, 767px) {
        margin-top: 0;
      }
    }
    >p {
      margin-top: -18px;
      z-index: -1;
      color: $color_black;
      cursor: pointer;
    }
  }
}
