@import "~sass/variables";

.search-page {
	background: $color_code_grey;
	display: inline-block;
	width: 100%;
}
.reports-form {
	margin-top: 15px;
	display: inline-block;
	.mat-form-field {
		margin-top: 15px;
	}
}
.generate-report-btn-section {
	text-align: center;
	.primary-btn {
		margin-top: 12px;
	}
	margin-bottom: 15px;
}
.report-type-container {
	text-align: left;
	div {
		padding: 0px;
	}
}
.reportTypeSelect {
	option {
		color: $color_white;
	}
}
@media (max-width:991px) {
	.search-page {
		background-position: center;
		background-size: cover;
	}
	.generate-report-btn-section {
		.primary-btn {
			width: 75%;
		}
	}
}