<div class="container-fluid">
  <app-header-new></app-header-new>

  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>

  <div class="container-body order-history-page">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>Site Management</h1>
      <p>Please select the state to change the status of cities</p>
    </div>
    <!-- <h1 class="title">Site Management</h1>
        <p>Please select the state to change the status of cities.</p> -->
    <div class="row order-history-main-display">
      <div class="order-item">
        <div class="row">

          <div class="order-number unicorn-dark-theme">
            <div class="col-sm-4 col-md-4">
              <mat-form-field>
                <mat-select name="state" [disabled]="showSites" (selectionChange)="stateChanged($event)" placeholder="Select State" [(ngModel)]="stateVal" required>
                  <mat-option *ngFor="let state of statelist" [value]="state">
                    {{state.state}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4 col-md-4">
              <mat-form-field class="city-autocomplete-input">
                <input placeholder="Search City" aria-label="City" name="city" matInput [formControl]="cityControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredCityList | async" [value]="option.city">
                    {{option.city}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-sm-4 col-md-4" *ngIf="!showSites">
              <mat-form-field>
                <mat-select name="statusFilter" placeholder="Filter By Status" [disabled]="citylist.length<1" [(ngModel)]="statusFilter">
                  <mat-option value=''>Show All</mat-option>
                  <mat-option value='disable'>Disabled</mat-option>
                  <mat-option value='enable'>Available</mat-option>
                  <mat-option value='comingsoon'>Coming Soon</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4 col-md-4" *ngIf="showSites">
              <mat-form-field>
                <mat-select name="statusFilter" placeholder="Filter By Status" [(ngModel)]="statusFilterSites">
                  <mat-option value=''>Show All</mat-option>
                  <mat-option value='unavailable'>Unavailable</mat-option>
                  <mat-option value='available'>Available</mat-option>
                  <mat-option value='reserved'>Reserved</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12" *ngIf="showSites">
              <button type="button" (click)="closeSites()" class="primary-btn new-btn-dark-back">Back to site management</button>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>

      <div class="city-list-container" *ngIf="citylist.length>0 && showSites==false">
        <h2>City</h2>
        <p>Status</p>
        <p>Email</p>
        <ul>
          <li [ngClass]="{'active': selectedCity == city}" *ngFor="let index=index;let city of citylist | cityFilter:cityValue:statusFilter | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <!-- <label class="stateCheckoxLabel"><input [(ngModel)]="city.available" name="{{city.name}}" type="checkbox"><i></i> {{city.name}}</label> -->
            <p class="city-label">{{city.city}}
              <a href="javascript:void(0)" *ngIf="city.cityStatus == 'enable'" (click)="getSites(city)">(view sites)</a>
            </p>
            <mat-radio-group name="cityStatus_{{index}}"class="city-status-radio-group" (ngModelChange)="cityStatusChanged(city)" [(ngModel)]="city.cityStatus">
              <mat-radio-button value="disable">Disable</mat-radio-button>
              <mat-radio-button value="enable">Available</mat-radio-button>
              <mat-radio-button value="comingSoon">Coming Soon</mat-radio-button>
            </mat-radio-group>

            <mat-form-field class="admin-email-sm">
              <input matInput type="email" placeholder="XG city admin" [disabled]="!city.editEmail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" [(ngModel)]="city.admin_emailID">
              <button mat-button *ngIf="city.editEmail" [disabled]="!checkEmailValid(city.admin_emailID)" matSuffix mat-icon-button aria-label="Clear" (click)="cityStatusChanged(city)">
                <i class="fas fa-arrow-circle-right"></i>
              </button>
              <button mat-button *ngIf="!city.editEmail" matSuffix mat-icon-button aria-label="Clear" (click)="city.editEmail = true">
                <i class="fas fa-pencil-alt" title="Edit email"></i>
              </button>
            </mat-form-field>

            <span *ngIf="city.cityStatusChangeSuccess == true" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="city.cityStatusLoaderSuccess == true" class="small-loader"></span>
          </li>
        </ul>
        <pagination-controls (pageChange)="currentPage = $event" directionLinks="false" class="selex-pagination-controls"></pagination-controls>
      </div>

      <div class="site-list-container" *ngIf="showSites">
        <!-- <span (click)="closeSites()" title="close sites" class="glyphicon glyphicon-remove"></span> -->
        <div class="add-new-site">
          <button type="button" (click)="resetEditSiteForm();showAddSiteForm = true;focusFirstEl();addSiteFlag=true;siteAddUpdateStatus=false"
           class="primary-btn new-btn-light-back">
           <span class="glyphicon glyphicon-plus"></span> Add New Site
          </button>
          <div class="search-filter-cont">
            <label>Search By:</label>
            <select [(ngModel)]="searchByType" dir="rtl">
              <option value="Site ID">Site ID</option>
            </select>
            <input type="text" (keyup.enter)="searchValueFilter = searchValue" (ngModelChange)="searchValuKeyUp()" name="searchValue"
              [(ngModel)]="searchValue" />
            <span class="glyphicon glyphicon-search" [ngClass]="{'search-icon-orange':searchValue.length>0}" (click)="searchValueFilter = searchValue"></span>
          </div>
        </div>
        <div class="clear-filter-con" *ngIf="searchValueFilter.length>0">
          <ul>
            <li>
              <span>Site ID ({{searchValueFilter}})</span>
              <a (click)="searchValueFilter = '';searchValue = ''">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </li>
          </ul>
          <a (click)="searchValueFilter = '';searchValue = ''">CLEAR ALL</a>
        </div>
        <form *ngIf="showAddSiteForm" #addEditSiteForm="ngForm" class="row addEditSiteForm">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Site ID" #siteIdInForm disabled [(ngModel)]="siteFormModel.siteId" name="siteId">
            </mat-form-field>
            <!-- <label>Site ID</label>
            <input type="text" disabled #siteIdInForm name="siteId" [(ngModel)]="siteFormModel.siteId"> -->
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Latitude" required [disabled]="!addSiteFlag" [(ngModel)]="siteFormModel.latitude" name="latitude">
            </mat-form-field>
            <!-- <label>Latitude</label>
            <input type="text" [disabled]="!addSiteFlag" name="latitude" [(ngModel)]="siteFormModel.latitude"> -->
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Longitude" required [disabled]="!addSiteFlag" [(ngModel)]="siteFormModel.longitude" name="longitude">
            </mat-form-field>
            <!-- <label>Longitude</label>
            <input type="text" [disabled]="!addSiteFlag" name="longitude" [(ngModel)]="siteFormModel.longitude"> -->
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select name="locType" placeholder="Select Location Type" [(ngModel)]="siteFormModel.locType" required>
                <!-- <mat-option value="">Select Option</mat-option> -->
                <mat-option value="Downtown">Downtown</mat-option>
                <mat-option value="Other">Other</mat-option>
                <mat-option value="Unknown">Unknown</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <label>Location Type</label>
            <select name="locType" [(ngModel)]="siteFormModel.locType">
              <option value="">Select Option</option>
              <option value="Downtown">Downtown</option>
              <option value="Other">Other</option>
              <option value="Unknown">Unknown</option>
            </select> -->
            <!-- <input type="text" name="locType" [(ngModel)]="siteFormModel.locType"> -->
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select name="poleType" placeholder="Select Pole Type" [(ngModel)]="siteFormModel.poleType" required>
                <!-- <mat-option value="">Select Option</mat-option> -->
                <mat-option value="Wood">Wood</mat-option>
                <mat-option value="Steel">Steel</mat-option>
                <mat-option value="New Wood Pole">New Wood Pole</mat-option>
                <mat-option value="New Metal Pole">New Metal Pole</mat-option>
                <mat-option value="New Light Pole">New Light Pole</mat-option>
                <mat-option value="Other">Other</mat-option>
                <mat-option value="Unknown">Unknown</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <label>Pole Type</label>
            <select name="poleType" [(ngModel)]="siteFormModel.poleType">
              <option value="">Select Option</option>
              <option value="Wood">Wood</option>
              <option value="Steel">Steel</option>
              <option value="New Wood Pole">New Wood Pole</option>
              <option value="New Metal Pole">New Metal Pole</option>
              <option value="New Light Pole">New Light Pole</option>
              <option value="Other">Other</option>
              <option value="Unknown">Unknown</option>
            </select> -->
            <!-- <input type="text" name="poleType" [(ngModel)]="siteFormModel.poleType"> -->
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="One Time Fee" required [(ngModel)]="siteFormModel.siteSelectionFee" name="siteSelectionFee">
            </mat-form-field>
            <!-- <label>One Time Fee</label>
            <input type="text" name="siteSelectionFee" [(ngModel)]="siteFormModel.siteSelectionFee"> -->
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Rent/Lease Monthly Fee" required [(ngModel)]="siteFormModel.rentLeaseMonthlyFee" name="rentLeaseMonthlyFee">
            </mat-form-field>
            <!-- <label>Rent/Lease Monthly Fee</label>
            <input type="text" name="rentLeaseMonthlyFee" [(ngModel)]="siteFormModel.rentLeaseMonthlyFee"> -->
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Site Survey & Lease Exhibit(Fee)" required [(ngModel)]="siteFormModel.siteSurveyLeaseFee" name="siteSurveyLeaseFee">
            </mat-form-field>
            <!-- <label>Site Survey &amp; Lease Exhibit(Fee)</label>
            <input type="text" name="siteSurveyLeaseFee" [(ngModel)]="siteFormModel.siteSurveyLeaseFee"> -->
          </div>

          <div class="col-md-12">
            <button type="submit" [disabled]="addEditSiteForm.invalid" [class.disabled-btn]="addEditSiteForm.invalid" (click)="addUpdateSite()" class="primary-btn primary-btn-main">
              <span *ngIf="addSiteFlag" class="glyphicon glyphicon-plus"></span> {{addSiteFlag?'Add Site':'Save Site'}}
            </button>
            <a href="javascript:void(0)" (click)="showAddSiteForm=false;resetEditSiteForm();" class="cancelAddPonumber">Cancel</a>
          </div>
        </form>
        <p *ngIf="siteAddUpdateStatus" class="site-update-success">
          <span class="glyphicon glyphicon-ok"></span> Site {{addSiteFlag?'added':'saved'}} Successfully
        </p>
        <div class="site-id-status-heading">
          <h2>Site ID</h2>
          <h2>Status</h2>
        </div>
        <ul>
          <li *ngFor="let index=index;let site of siteList | searchFilter:searchValueFilter:statusFilterSites | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <a class="view-more" (click)="site.showsitedetails = !site.showsitedetails">
              <span *ngIf="!site.showsitedetails" class="glyphicon glyphicon-plus plus-sign" aria-hidden="true"></span>
              <span *ngIf="site.showsitedetails" class="glyphicon glyphicon-minus minus-sign" aria-hidden="true"></span>
              {{site.sku}}
            </a>
            <!-- <span class="hidden-sm hidden-md hidden-lg glyphicon glyphicon-pencil" (click)="editSiteFunc(site)" title="Edit this Site"
              style="font-size: 18px;"></span> -->
            <i class="hidden-sm hidden-md hidden-lg fas fa-pencil-alt" (click)="editSiteFunc(site)" title="Edit this Site"></i>
            <div class="switch-container">
              <label class="switch">
                <input type="checkbox" name="siteAvailableStatus_{{index}}" value="available" (change)="editSiteStatus($event, site)" [checked]="site.stat != 'unavailable'">
                <span class="slider round"></span>
              </label>
              <span>Available</span>
            </div>
            <div class="switch-container">
              <label class="switch">
                <input type="checkbox" name="siteReservedStatus_{{index}}" value="reserved" (change)="editSiteStatus($event, site)" [checked]="site.stat != 'available'">
                <span class="slider round"></span>
              </label>
              <span>Reserved</span>
            </div>

            <!-- <span class="hidden-xs glyphicon glyphicon-pencil" (click)="editSiteFunc(site)" title="Edit this Site"></span> -->
            <i class="hidden-xs fas fa-pencil-alt" (click)="editSiteFunc(site)" title="Edit this Site"></i>
            <!-- <i class="fas fa-edit" (click)="editSiteFunc(site)" title="Edit this Site"></i> -->
            <!-- <i class="far fa-edit" (click)="editSiteFunc(site)" title="Edit this Site"></i> -->
            <span *ngIf="site.siteEditSuccess == true" class="glyphicon glyphicon-ok"></span>
            <span *ngIf="site.siteEditLoaderSuccess == true" class="small-loader"></span>

            <div class="view-site-details" [hidden]="!site.showsitedetails">
              <p>Site Coordinates:
                <span>({{site.lat}} , {{site.long}})</span>
              </p>
              <p>Location Type:
                <span>({{site.lType}})</span>
              </p>
              <p>Type:
                <span>({{site.pCls}})</span>
              </p>
              <p>One Time Fee:
                <span>${{parseInt(site.ssFee) | number}}</span>
              </p>
              <p>Rent/Lease Monthly Fee:
                <span>${{site.rlFee | number}}</span>
              </p>
              <p>Site Survey Lease Fee:
                <span>${{site.sslFee | number}}</span>
              </p>
            </div>
          </li>
        </ul>
        <pagination-controls (pageChange)="currentPage = $event" directionLinks="false" class="selex-pagination-controls"></pagination-controls>
      </div>
    </div>
  </div>


  <site-selex-footer></site-selex-footer>
</div>
