@import "~sass/variables";
@import "~sass/mixins";
.order-history-page {
  // background: $background_color_light;
  // background-image: url(../../assets/reservation_picture.png);
  // -webkit-flex: 1 0 auto;
  // -ms-flex: 1 0 auto;
  // flex: 1 0 auto;
  // padding-bottom: 20px;
  background: $color_code_grey;
  h1 {
    // width: 70%;
    // margin: 20px auto 7.5px;
    &.title {
      color: $color_white;
      font-weight: 700;
    }
  }
  >p {
    width: 70%;
    color: #fff;
    margin: 0 auto;
  }
}

.order-history-main-display {
  // background: $color_white;
  width: 100%;
  padding: 10px 10% 20px 10%;
  margin: 0px auto 0 auto;
  min-height: 200px;
  border-radius: 2px;
  display: inline-block; // padding-left: 15%;
  .order-item {
    // margin-bottom: 20px;
    padding: 10px 0px 20px 0px; // border-bottom: 1px solid #d2d2d2;
    .order-number {
      width: 100%;
      float: left;
      padding: 0px 15px 2px 0px;
      >div {
        float: left;
        // margin-right: 20px;
        @include mqueryphone(320px, 415px) {
          width: 100%;
          // &:first-child {
          //   margin-bottom: 10px;
          // }
        }
      }
      // label {
      //   color: $color_white;
      //   font-size: 20px;
      // }
      // select, input {
      //   background: transparent;
      //   font-size: 18px;
      //   width: 100%;
      //   border: 1px solid $color_lightgrey;
      //   display: block;
      //   padding: 3px 5px;
      //   border-radius: 0px;
      //   height: 46px;
      //   color: $color_white;
      //   option {
      //     color: $color_black;
      //     background: $color_white;
      //   }
      //   &.disabled {
      //     color: #a7a7a7;
      //     border: 1px solid #a7a7a7;
      //   }
      // }
    }
  }
}

.city-list-container,
.site-list-container {
  background: $color_white;
  padding: 15px;
  margin-bottom: 20px;
  >h2 {
    padding-left: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    width: 23%;
    display: inline-block;
    @include mqueryphone(320px, 766px) {
      padding-left: 0px;
    }
  }
  >p {
    width: 45%;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    &:last-of-type {
      width: 25%;
    }
    @include mqueryphone(320px, 766px) {
      display: none;
    }
    &.site-update-success {
      font-size: 18px;
      color: $color_lightorange;
      display: inline-block;
      width: 100%;
      padding-left: 15px;
      margin-bottom: 10px;
      font-weight: 700;
      margin-top: 10px;
      .glyphicon-ok {
        color: $color_green;
        margin-right: 5px;
        font-size: 1.2em;
      }
    }
  }
  >ul {
    >li {
      list-style-type: none;
      padding-top: 7px;
      position: relative;
      // &.active {
      //   background: #f5f520f2;
      // }
      .city-label {
        width: 23%;
        display: inline-block;
        font-size: 20px;
        padding-left: 20px;        
        @include mqueryphone(320px, 415px) {
          width: 100%;
          margin-bottom: 10px;
          padding-left: 0px;
        }
      }
      >span {
        &.glyphicon-ok {
          width: auto;
          color: $color_green;
          position: absolute;
          right: 2%;
          top: 30px;
          @include mqueryipad(320px, 1024px) {
            right: 2%;
          }
          @include mqueryphone(320px, 415px) {
            right: 35%;
            top: 45px;
          }
        }
        &.small-loader {
          border: 4px solid $color_lightorange;
          border-top: 4px solid $background_color_light;
          width: 20px;
          top: 30px;
          right: 2%;
          @include mqueryipad(320px, 1024px) {
            right: 2%;
          }
          @include mqueryphone(320px, 415px) {
            right: 35%;
            top: 45px;
          }
        }
      }
    }
  }
}

.site-list-container {
  position: relative;
  @include mqueryphone(320px, 767px) {
    width: 100%;
    top: 0px;
    right: 0px;
    height: 100%;
  }
  .glyphicon-remove {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: $color_brightorange;
    font-size: 24px;
  }
  .clear-filter-con {
    width: 100%;
    margin: 0px 0px 10px 15px;
    .glyphicon-remove {
      top: 3px;
      right: 3px;
    }
    li,
    a {
      color: $color_black;
    }
  }
  >ul {
    display: inline-block;
    width: 100%;
    >li {
      margin-bottom: 10px;
      .view-more {
        margin-left: 15px;
        display: inline-block;
        width: 25%;
        cursor: pointer;
        vertical-align: middle;
        color: $color_black;
        .glyphicon {
          color: $color_brightorange;
        }
        @include mqueryphone(320px, 767px) {
          width: 80%;
        }
      }
      label {
        width: 48px;
        margin-bottom: 0px;
        margin-right: 3px;
        vertical-align: middle;
        @include mqueryphone(320px, 767px) {
          width: 100%;
        }
      }
      .switch-container {
        display: inline-block;
        width: 20%;
        @include mqueryphone(320px, 767px) {
          width: 100%;
          margin: 5px 0px 5px 15px;
          label.switch {
            width: 48px;
          }
        }
        >span {
          vertical-align: middle;
          font-size: 18px;
        }
      }
      .glyphicon-pencil, .fa-pencil-alt {
        vertical-align: middle;
        font-size: 18px;
        cursor: pointer;
      }
      >span {
        &.glyphicon-ok {
          top: 10px;
          // @include mqueryipad(320px, 1024px) {
          //   right: 2%;
          // }
          // @include mqueryphone(320px, 415px) {
          //   right: 35%;
          //   top: 45px;
          // }
        }
        &.small-loader {
          top: 10px;
          // @include mqueryipad(320px, 1024px) {
          //   right: 2%;
          // }
          // @include mqueryphone(320px, 415px) {
          //   right: 35%;
          //   top: 45px;
          // }
        }
      }
    }
  }
  .add-new-site {
    margin: 0px 0px 10px 15px;
    display: inline-block;
    width: 100%;
    @include mqueryphone(320px, 767px) {
      margin-top: 10px;
      margin-left: 0px;
    }
    >img {
      width: 50px;
      margin-right: 8px;
      cursor: pointer;
      @include mqueryphone(320px, 767px) {
        width: 30px;
      }
    }
    >span {
      font-size: 30px;
      font-weight: 700;
      vertical-align: middle;
      @include mqueryphone(320px, 767px) {
        font-size: 16px;
      }
    }
    .search-filter-cont {
      float: left;
      margin-right: 8%;
      margin-top: 10px;
      position: relative;
      label {
        font-size: 18px;
        @include mqueryphone(320px, 767px) {
          width: 100%;
        }
      }
      input {
        padding: 3px 30px 3px 3px;
        font-size: 18px;
        border: 0px;
        border-bottom: 1px solid #a7a7a7;
        @include mqueryipad(768px, 1024px) {
          width: 125px;
        }
        @include mqueryphone(320px, 767px) {
          width: 60%;
        }
      }
      select {
        color: $color_black;
        font-size: 16px;
      }
      .glyphicon-search {
        position: absolute;
        right: 5px;
        top: 9px;
        font-size: 18px;
        @include mqueryphone(320px, 767px) {
          right: 10px;
          top: 32px;
        }
        &.search-icon-orange {
          color: $color_lightorange;
          cursor: pointer;
        }
      }
    }
    .primary-btn {
      float: right;
      margin: 10px 30px 0 0;
      @include mqueryphone(320px, 767px) {
        margin-bottom: 20px;
        float: none;
      }
    }
  }
  .view-site-details {
    margin: 10px 0px 10px 20px;
    @include mqueryphone(320px, 767px) {
      margin: 5px 0px 10px 0px;
    }
    >p {
      display: inline-block;
      width: 33%;
      color: #777;
      vertical-align: top;
      padding: 0 5px 0 15px;
      font-size: 18px;
      margin-bottom: 10px;
      @include mqueryphone(320px, 767px) {
        width: 100%;
      }
      >span {
        display: block;
      }
    }
  }
}

.addEditSiteForm {
  background-color: $background_color_light;
  padding: 10px 0px;
  margin: 20px 0px 20px 0px;
  display: inline-block;
  width: 100%;
  >div {
    margin-bottom: 10px;
    >label {
      width: 100%;
      margin-bottom: 2px;
    }
    >input[type="text"],
    >select {
      width: 100%;
      border: solid 1px $color_lightgrey;
      padding: 6px;
      color: $color_black;
      font-size: 18px;
      &:disabled {
        background: #fff;
        opacity: 0.5;
      }
    }
    >select {
      font-size: 16px;
      background: $color_white;
    }
    .primary-btn {
      margin-top: 10px;
    }
    .cancelAddPonumber {
      margin-left: 5px;
    }
  }
}

.site-id-status-heading {
  font-size: 0px;
  width: 100%;
  display: inline-block;
  @include mqueryphone(320px, 767px) {
    display: none;
  }
  h2 {
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    width: 25%;
    display: inline-block;
    &:last-of-type {
      margin-left: 2px;
    }
  }
}
