<div class="container-fluid">
  <app-header-new [sitesZeroCartCount]=sitesZeroCartCount></app-header-new>

  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>

  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>

  <div class="container-body">
    <div *ngIf="activeScreen == 'findSiteByInput'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>Find and Reserve Your Site</h1>
      <p>Search for the available sites, view site details, price and request to reserve</p>
    </div>

    <div *ngIf="activeScreen == 'uploadSites'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>Upload Site Request File</h1>
      <p>Upload your site request file to view site details, price and request to reserve</p>
    </div>

    <div class="dark-bcgd">
      <form (ngSubmit)="addChosenSite()" #siteSearchForm="ngForm" class="unicorn-dark-theme">
        <div class="row state-city-drpdwn">
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <mat-form-field>
              <mat-select name="state" (selectionChange)="onStateChange($event)" placeholder="Select State" #selectStateValidation [(ngModel)]="stateSelected" required>
                <mat-option *ngFor="let state of statecitylist" [value]="state.state">
                  {{state.stateDisabled ? state.state+' (coming soon)' : state.state}}
                </mat-option>
              </mat-select>
              <mat-error>State is Required</mat-error>
            </mat-form-field>
            
            <!-- <div class="custom-arrow-select">
              <select [ngClass]="{disabled:chosenSites.length > 0}" [(ngModel)]="stateSelected" #selectStateValidation="ngModel"
                name="state" (change)="onStateChange($event.target)" required>
                <option value="">Select State</option>
                <option *ngFor="let state of statecitylist" [ngClass]="{disabledState:state.stateDisabled}" [disabled]="state.stateDisabled"
                  [value]="state.state" [text]="state.stateDisabled ? state.state+' (coming soon)' : state.state"></option>
              </select>
              <i class="fa fa-angle-down"></i>
            </div> -->
            <!-- <span class="text-danger searchSiteError" *ngIf='!selectStateValidation.valid && selectStateValidation.dirty && chosenSites.length == 0'>State is Required</span> -->
          </div>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <mat-form-field>
              <mat-select name="city" (selectionChange)="onCityChange($event)" placeholder="Select City" #citySelectedValidation [(ngModel)]="citySelected" required>
                <mat-option *ngFor="let city of citylist" [value]="city">
                  {{city}}
                </mat-option>
                <mat-option *ngFor="let city of citywdoutinvtrylist" [value]="city" disabled>
                  {{city}} (coming soon)
                </mat-option>
              </mat-select>
              <mat-error>City is Required</mat-error>
            </mat-form-field>

            <!-- <div class="custom-arrow-select">
              <select [ngClass]="{disabled:chosenSites.length > 0}" name="city" required [(ngModel)]="citySelected"
                #citySelectedValidation="ngModel" (change)="onCityChange($event.target)">
                <option value="">Select City</option>
                <option *ngFor="let city of citylist" [value]="city">{{city}}</option>
                <option *ngFor="let city of citywdoutinvtrylist" class="withoutInventoryCity" disabled [value]="city">{{city}} (coming soon)</option>
              </select>
              <i class="fa fa-angle-down"></i>
            </div> -->
            <!-- <span class="text-danger searchSiteError" *ngIf='!citySelectedValidation.valid && citySelectedValidation.dirty && chosenSites.length == 0'>City is Required</span> -->
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 download-file-con">
            <a *ngIf="activeScreen == 'uploadSites'" href="../assets/csv_files/bulk_upload/bulk_upload.csv" target="_blank" download>
              <i class="fa fa-download"></i> Sample Site Request File
            </a>
            <a *ngIf="activeScreen != 'uploadSites'" href="javascript:void(0)" (click)="downloadKmz()">
              <i class="fa fa-download"></i> Site ID(s) KMZ File
            </a>
          </div>
        </div>

        <div class="row enter-id-sec" *ngIf="activeScreen == 'findSiteByInput'">
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <mat-form-field>
              <input matInput placeholder="Enter Site ID(s)" [formControl]="selectedSiteId"
               name="siteId" [disabled]="uploadedFileFlag == true" autocomplete="off">
              <mat-hint>Please enter 9 characters of a valid Site ID. Maximum 10 sites can be entered at a time separated by comma</mat-hint>
              <!-- <mat-error *ngIf="selectedSiteId.hasError('required') || selectedSiteId.hasError('pattern')">
                  Please enter 9 characters of a valid Site ID
              </mat-error>
              <mat-error *ngIf="selectedSiteId.hasError('maxlength') && !selectedSiteId.hasError('pattern')">
                  Maximum of 10 sites can be searched at a time
              </mat-error> -->
            </mat-form-field>

            <!-- <input type="text" autocomplete="off" #siteId="ngModel" maxlength="120" [disabled]="uploadedFileFlag == true" (keyup)="validateSiteField(siteId)"
              required name="siteId" [(ngModel)]="selectedSiteId" pattern="^[,a-zA-Z0-9\s]+" placeholder="Enter Site ID(s)"> -->
            <!-- <span class="mat-error" *ngIf="siteIdError">{{siteIdErrorText?"Please enter 9 characters of a valid Site ID":"Maximum of 10 sites can be searched at a time"}}</span> -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <button type="button" (click)="addChosenSite()" [disabled]="!siteSearchForm.valid" class="primary-btn new-btn-dark-back">
              <span class="glyphicon glyphicon-plus"></span> Add Site To Cart</button>
          </div>
        </div>

        <div class="row upload-file-section text-center" fiveBarsDnd (fileChangedEmitter)="onFileChangeInDirective($event)" [hidden]="uploadedFileFlag == true"
          *ngIf="activeScreen == 'uploadSites'">
          <p>
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <span>Drop files to upload</span>
          </p>
          <span>or</span>
          <input type="file" class="bulk-file-input" name="bulkUpload" #fileUploadInput accept=".csv" (change)="fileUpload($event)">
          <a class="primary-btn new-btn-dark-back" href="javascript:void(0)">Browse Files</a>
          <p class="mat-error" *ngIf="uploadSiteIdError">{{uploadSiteIdErrorText?"Please enter 9 characters of a valid Site ID":"Please select the state and city"}}</p>
        </div>


        <div class="row upload-file-section" [hidden]="uploadedFileFlag == false">
          <h3>File Uploaded - {{uploadedFileName}}</h3>
          <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 available-brief-details">
            <div class="brief-desc-con available">
              <span>Available</span>
              <p>
                <span *ngIf="chosenSitesAvailableFiltered.length==1">[{{chosenSitesAvailableFiltered[0].uniqueId}}]</span>
                <span *ngIf="chosenSitesAvailableFiltered.length==2">[{{chosenSitesAvailableFiltered[0].uniqueId}}, {{chosenSitesAvailableFiltered[1].uniqueId}}]</span>
                <span *ngIf="chosenSitesAvailableFiltered.length==3">[{{chosenSitesAvailableFiltered[0].uniqueId}}, {{chosenSitesAvailableFiltered[1].uniqueId}}, {{chosenSitesAvailableFiltered[2].uniqueId}}]</span>
                <span *ngIf="chosenSitesAvailableFiltered.length>3">[{{chosenSitesAvailableFiltered[0].uniqueId}}, {{chosenSitesAvailableFiltered[1].uniqueId}}, {{chosenSitesAvailableFiltered[2].uniqueId}},...
                  <a href="javascript:void(0)" (click)="showUploadedAvailableSiteDet=true">show more</a>]</span>
              </p>
              <span class="badge">{{chosenSitesAvailableFiltered.length}}</span>
            </div>

            <div class="brief-desc-con waitlist">
              <span>Waitlist</span>
              <p>
                <span *ngIf="chosenSitesWaitFiltered.length==1">[{{chosenSitesWaitFiltered[0].uniqueId}}]</span>
                <span *ngIf="chosenSitesWaitFiltered.length==2">[{{chosenSitesWaitFiltered[0].uniqueId}}, {{chosenSitesWaitFiltered[1].uniqueId}}]</span>
                <span *ngIf="chosenSitesWaitFiltered.length==3">[{{chosenSitesWaitFiltered[0].uniqueId}}, {{chosenSitesWaitFiltered[1].uniqueId}}, {{chosenSitesWaitFiltered[2].uniqueId}}]</span>
                <span *ngIf="chosenSitesWaitFiltered.length>3">[{{chosenSitesWaitFiltered[0].uniqueId}}, {{chosenSitesWaitFiltered[1].uniqueId}}, {{chosenSitesWaitFiltered[2].uniqueId}},...
                  <a href="javascript:void(0)" (click)="showUploadedWaitlistSiteDet=true">show more</a>]</span>
              </p>
              <span class="badge">{{chosenSitesWaitFiltered.length}}</span>
            </div>

            <div class="brief-desc-con waitlist">
              <span>Not Available</span>
              <p>
                <span *ngIf="uploadedSitesInvalid.length==1">[{{uploadedSitesInvalid[0]}}]</span>
                <span *ngIf="uploadedSitesInvalid.length==2">[{{uploadedSitesInvalid[0]}}, {{uploadedSitesInvalid[1]}}]</span>
                <span *ngIf="uploadedSitesInvalid.length==3">[{{uploadedSitesInvalid[0]}}, {{uploadedSitesInvalid[1]}}, {{uploadedSitesInvalid[2]}}]</span>
                <span *ngIf="uploadedSitesInvalid.length>3">[{{uploadedSitesInvalid[0]}}, {{uploadedSitesInvalid[1]}}, {{uploadedSitesInvalid[2]}},...
                  <a href="javascript:void(0)" (click)="showUploadedNonAvailableSiteDet=true">show more</a>]</span>
              </p>
              <span class="badge">{{uploadedSitesInvalid.length}}</span>
            </div>
            <div class="clear-all-sec">
              <a href="javascript:void(0)" (click)="removeUploadedSitesFile()">
                <span>X</span> Clear All Sites</a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 available-bried-right">
            <mat-checkbox class="example-margin" name="allSitesOptionalAdd" [(ngModel)]="allSitesOptionalAdd" (change)="changeAllOptionalFeeStatus($event)">Site Survey &amp; Lease Exhibit Fee for all sites</mat-checkbox>
            <!-- <label class="optionalSiteFeeLabel customChekboxLable">
              <input type="checkbox" name="allSitesOptionalAdd" [(ngModel)]="allSitesOptionalAdd" (change)="changeAllOptionalFeeStatus($event)">
              <i></i> Site Survey &amp; Lease Exhibit Fee for all sites
            </label> -->
            <button type="submit" class="primary-btn new-btn-dark-back">
              <span class="glyphicon glyphicon-plus"></span> Add Site To Cart
            </button>
          </div>

          <div class="show-more-upload-site-details" *ngIf="showUploadedAvailableSiteDet">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span (click)="showUploadedAvailableSiteDet = false" class="glyphicon glyphicon-remove"></span>
              <h2>Sites available for reservation</h2>
              <p>
                <span *ngFor="let item of chosenSitesAvailableFiltered; let isLast=last">{{item.uniqueId}}{{isLast ? '' : ', '}}</span>
              </p>
            </div>
          </div>

          <div class="show-more-upload-site-details" *ngIf="showUploadedWaitlistSiteDet">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span (click)="showUploadedWaitlistSiteDet = false" class="glyphicon glyphicon-remove"></span>
              <h2>Sites available to add in waitlist</h2>
              <p>
                <span *ngFor="let item of chosenSitesWaitFiltered; let isLast=last">{{item.uniqueId}}{{isLast ? '' : ', '}}</span>
              </p>
            </div>
          </div>

          <div class="show-more-upload-site-details" *ngIf="showUploadedNonAvailableSiteDet">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span (click)="showUploadedNonAvailableSiteDet = false" class="glyphicon glyphicon-remove"></span>
              <h2>Sites not available for reservation or already added</h2>
              <p>
                <span *ngFor="let item of uploadedSitesInvalid; let isLast=last">{{item}}{{isLast ? '' : ', '}}</span>
              </p>
            </div>
          </div>
        </div>
      </form>

      <div class="map-section" *ngIf="activeScreen == 'findSiteByInput'">
        <i class="fas fa-location-arrow" title="reset map location" (click)="mapReset()"></i>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="mapReady($event)" [disableDefaultUI]="false" [zoomControl]="false">
          <agm-marker *ngFor="let m of markers" [latitude]="m.lat" (markerClick)="markerClicked(m)" [iconUrl]="m.sChk=='UA'?'assets/greyMarker1.png':m.sChk=='RS'?'https://maps.google.com/mapfiles/ms/icons/red-dot.png':'https://maps.google.com/mapfiles/ms/icons/green-dot.png'"
            [longitude]="m.long">
          </agm-marker>

          <agm-info-window (infoWindowClose)="infoWindowClose($event)" [latitude]="markerInfoWindowObj.markerInfoWindowLat" [longitude]="markerInfoWindowObj.markerInfoWindowLng"
            [isOpen]="infoWindowIsOpen" #infoWindow>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <agm-map #agmMapNested [latitude]="markerInfoWindowObj.markerInfoWindowLat" [longitude]="markerInfoWindowObj.markerInfoWindowLng"
                [zoom]="15">

                <agm-marker [latitude]="markerInfoWindowObj.markerInfoWindowLat" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'"
                  [longitude]="markerInfoWindowObj.markerInfoWindowLng">

                  <agm-info-window [isOpen]="markerInfoWindowSkuIsOpen">
                    <strong>{{markerInfoWindowObj.markerInfoWindowSku}}</strong>
                  </agm-info-window>

                </agm-marker>
              </agm-map>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 view-details-left-sec">
              <h3>{{selectedCityText}}, {{selectedStateText}}</h3>
              <span>Site Coordinates
                <br> ({{markerInfoWindowObj.markerInfoWindowLat}} , {{markerInfoWindowObj.markerInfoWindowLng}})</span>
              <span class="site-Details-loctype">Location Type ({{markerInfoWindowObj.markerInfoWindowLocationType}})</span>
              <span class="site-Details-type">Type ({{markerInfoWindowObj.markerInfoWindowPoleType}})</span>
              <span>Electrical Services (Yes)</span>
              <button class="primary-btn new-btn-light-back no-arrow-ani" *ngIf="markerInfoWindowObj.markerInfoWindowStatus!='UA'" (click)="addSIteFromMap()"
                type="button">
                <span class="glyphicon glyphicon-plus"></span> {{markerInfoWindowObj.markerInfoWindowStatus==='AV'?'Add Site To Cart':'Add To Waitlist'}}
              </button>
            </div>
          </agm-info-window>
        </agm-map>
        <div *ngIf="mapLoading" class="map-loader">
          <div class="loader small-loader"></div>
        </div>
      </div>



      <div class="row site-reservation-cart-sec" *ngIf="chosenSites.length > 0 || allSitesAddedToWaitListFlag">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Site Reservation Cart</h3>
          <p class="note">Note: Selection of a site during this step does not guarantee reservation. Sites are available to other users until
            reservation is confirmed in next steps.</p>
        </div>
        <!-- <div *ngIf="!allSitesAddedToWaitListFlag"> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-item" *ngFor="let site of chosenSites; let index=index">
          <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
            <img style="height: 50px;" src="assets/site-icon.png">
          </div>

          <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 search-item-left-sec">
            <h4>{{site.uniqueId}}</h4>
            <p *ngIf="!site.reserved">
              Rent/Lease Monthly Fee:
              <strong>${{site.rent_lease_fee}}</strong>
              <span data-toggle="tooltip" title="Monthly fee active upon delivery of build permit" class="glyphicon glyphicon-question-sign tooltipTest">
                <span class="tooltiptext">Monthly fee active upon delivery of build permit</span>
              </span>
            </p>
            <span *ngIf="!site.reserved" class="billed-annually">(Billed annually unless otherwise determined)</span>
            <mat-checkbox *ngIf="!site.reserved" class="site-search-item-mat-check" name="optionalFeeStatus_{{index}}" [checked]="site.optionalFeeStatus" (change)="changeOptionalFeeStatus(index, $event.source)">
              Add Site Survey &amp; Lease Exhibit(Fee) for <strong>${{site.site_survey_lease_fee | number}}</strong>
            </mat-checkbox>
            <!-- <label *ngIf="!site.reserved" class="optionalSiteFeeLabel customChekboxLable">
              <input type="checkbox" name="optionalFeeStatus_{{index}}" (change)="changeOptionalFeeStatus(index, $event)" [checked]="site.optionalFeeStatus">
              <i></i> Add Site Survey &amp; Lease Exhibit(Fee) for
              <strong>${{site.site_survey_lease_fee | number}}</strong>
            </label> -->
            <mat-checkbox *ngIf="!site.reserved" class="site-search-item-mat-check" name="optionalConduitStatus_{{index}}" [checked]="site.optionalConduitStatus" (change)="changeOptionalFeeStatus(index, $event.source)">
              Add Request for Nearby City-Owned Fiber and/or Conduit
            </mat-checkbox>
            <!-- <label *ngIf="!site.reserved" class="optionalConduitLabel customChekboxLable">
              <input type="checkbox" name="optionalConduitStatus_{{index}}" (change)="changeOptionalFeeStatus(index, $event)" [checked]="site.optionalConduitStatus">
              <i></i> Add Request for Nearby City-Owned Fiber and/or Conduit
            </label> -->
            <p *ngIf="site.reserved">Site is currently not available and may be reserved by another carrier or enterprise. You can request to be on
              waitlist and be notified if the site becomes available in future.</p>
            <p *ngIf="site.reserved" class="wait-list-mes">{{site.item_id?'ADDED TO WAITLIST':'PROCEED FURTHER TO ADD TO WAITLIST'}}</p>
          </div>

          <div [ngClass]="{'site-details-shown':site.showSiteDetails}" class="col-xs-offset-2 col-sm-offset-0 col-xs-8 col-sm-5 col-md-5 col-lg-5 search-item-right-sec">
            <p>
              <a href="javascript:void(0)" (click)="site.reserved?null:site.showOTpricingdetails = !site.showOTpricingdetails">
                <span *ngIf="!site.showOTpricingdetails" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span *ngIf="site.showOTpricingdetails" class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </a>
              One Time Fee:
              <span class="otf-total">${{site.reserved?'0':site.one_time_fee_price}}</span>
              <span data-toggle="tooltip" title="Monthly fee active upon delivery of build permit" class="glyphicon glyphicon-question-sign tooltipTest">
                <span class="tooltiptext">One Time fees for site, billed immediately</span>
              </span>
            </p>
            <div class="site-details" [hidden]="!site.showOTpricingdetails || site.reserved">
              <ul>
                <li>Site Selection Fee: ${{site.site_selection_fee}}</li>
                <li *ngIf="site.optionalFeeStatus">Site Survey &amp; Lease Exhibit Fee:
                  <span class="otf-lease-fee">${{site.site_survey_lease_fee}}</span>
                </li>
              </ul>
            </div>
            <span *ngIf="!site.showSiteDetails" (click)="site.showSiteDetails=!site.showSiteDetails" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span *ngIf="site.showSiteDetails" (click)="site.showSiteDetails=!site.showSiteDetails" class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            <a class="view-details" (click)="site.showSiteDetails=!site.showSiteDetails" href="javascript:void(0)">View Site Details</a>
          </div>

          <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 remove-site-sec">
            <a (click)="removeSite(site)" href="javascript:void(0)">X</a>
            <p (click)="removeSite(site)">remove</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con" *ngIf="site.showSiteDetails">
            <span (click)="site.showSiteDetails = false" class="glyphicon glyphicon-remove"></span>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <agm-map [latitude]="site.x" [longitude]="site.y" [zoom]="8">

                <agm-marker [latitude]="site.x" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.y">

                  <agm-info-window>
                    <strong>{{site.uniqueId}}</strong>
                  </agm-info-window>

                </agm-marker>
              </agm-map>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 view-details-left-sec">
              <h3>{{selectedCityText}}, {{selectedStateText}}</h3>
              <span>Site Coordinates
                <br> ({{site.x}} , {{site.y}})</span>
              <span class="site-Details-loctype">Location Type ({{site.location_type}})</span>
              <span class="site-Details-type">Type ({{site.pole_type}})</span>
              <span>Electrical Services (Yes)</span>
            </div>

            <!-- <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5 view-details-right-sec">
              <h3>Site Drawings</h3>
              <ol>
                <li>Drawing_A (<a href="javascript:void(0)">View</a>)</li>
                <li>Drawing_B (<a href="javascript:void(0)">View</a>)</li>
              </ol>
              <button type="button" class="primary-btn new-btn-light-back">
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload Drawings
              </button>
            </div> -->

          </div>
        </div>
        <!-- </div> -->

        <p *ngIf="allSitesAddedToWaitListFlag && chosenSites.length == 0" class="waitListSuccessMsg">
          <span class="glyphicon glyphicon-ok"></span> Site(s) added to Waitlist. You can check all your waitlist sites in
          <a href="javascript:void(0)" [routerLink]="['/site/wait-list']">My Waitlist</a>
        </p>
      </div>

      <div class="review-order-btn-container" *ngIf="chosenSites.length > 0">
        <a href="javascript:void(0)" *ngIf="checkAllSitesReservedFlag() == true" (click)="reserveSites($event)" class="primary-btn new-btn-light-back">Proceed to Checkout</a>
        <a href="javascript:void(0)" *ngIf="checkAllSitesReservedFlag() == false" (click)="addAllSitesToWaitList($event)" class="primary-btn new-btn-light-back">Add Sites to Waitlist</a>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row request-site-sec text-center">
      <p>
        <i>Not seeing what you want?</i>
      </p>
      <h3>Request For New Site</h3>
      <a class="primary-btn new-btn-dark-back" [routerLink]="['/requestsite']" href="javascript:void(0)">Request Now</a>
    </div>

  </div>
  <site-selex-footer></site-selex-footer>
</div>
