<header>
  <div class="row header-con" [ngClass]="{'on-open-nav-head-con':openNav}">
    <!-- <img src="../assets/HeaderOrangePoly.png"> -->
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 closed-nav" [ngClass]="{'open-nav':openNav}">
      <button type="button" class="menu-btn" (click)="openNav = !openNav;scrollTop()">
        <div [ngClass]="{'open':openNav}" id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span class="menu-text">Menu</span>
      </button>
      <div class="nav" *ngIf="openNav">
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/profile']">Profile Management</a>
          <a mat-list-item [routerLink]="['/orderhistory']">My Reserved Sites</a>
          <a mat-list-item [routerLink]="['/site/wait-list']">My Waitlist Sites</a>
          <a mat-list-item [routerLink]="['/requestsite/my-site-requests']">My Site Requests</a>
          <a mat-list-item [routerLink]="['/admin/sitemanagement']" *ngIf="validUserForReports">Site Management</a>
          <a mat-list-item [routerLink]="['/admin/siterequests']" *ngIf="validUserForReports">New Site Requests</a>
          <a mat-list-item [routerLink]="['/admin/reports']" *ngIf="validUserForReports">Reports</a>
          <a mat-list-item [routerLink]="['/site/site-search']" [queryParams]="{type:'findSiteByInput'}">Find and Reserve Sites</a>
          <a mat-list-item  (click)="logout()">Logout</a>
        </mat-nav-list>
        <!-- <ul>
          <li>
            <a [routerLink]="['/profile']">Profile Management</a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/orderhistory']">My Reserved Sites</a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/site/wait-list']">My Waitlist Sites</a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/requestsite/my-site-requests']">My Site Requests</a>
          </li>
          <li>
            <a href="javascript:void(0)" *ngIf="validUserForReports" [routerLink]="['/admin/sitemanagement']">Site Management</a>
          </li>
          <li>
            <a href="javascript:void(0)" *ngIf="validUserForReports" [routerLink]="['/admin/siterequests']">New Site Requests</a>
          </li>
          <li>
            <a href="javascript:void(0)" *ngIf="validUserForReports" [routerLink]="['/admin/reports']">Reports</a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/site/site-search']" [queryParams]="{type:'findSiteByInput'}">Find and Reserve Sites</a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="logout()">Logout</a>
          </li>
        </ul> -->
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6 text-center main-logo">
      <a>
        <img [routerLink]="['/site/home']" src="../assets/5barslogo_light.png" class="img-responsive" alt="site selex logo">
      </a>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 user-cart-con text-right">
      <span class="glyphicon glyphicon-shopping-cart" (click)="navigateToPayment()" [ngClass]="{'highlight-cart':cartAvailable}"></span>
      <span class="	glyphicon glyphicon-user"></span>
      <span class="username">{{userName | uppercase}}</span>
      <span class="domain-user">{{domainUser}} user</span>
    </div>
  </div>
</header>
<site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
<div class="loader-bg" [hidden]="!showLoader"></div>
<div class="loader" [hidden]="!showLoader"></div>
