@import "~sass/variables";
@import "~sass/mixins";

.header-con {
  margin: 0px;
  // background: grey;
  padding: 10px 0px 10px 0px;
  background: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  .menu-btn {
    background: none;
    border: 0px;
    color: $color_white;
    margin-top: 10px;
    font-size: 20px;
    // width: 100%;
    // cursor: default;
    &:focus {
      outline: none;
    }
    .menu-text {
      margin-left: 20px;
      font-size: 18px;
      float: left;
      font-weight: bold;
      // cursor: pointer;
      @include mqueryphone(320px, 767px) {
        margin-left: 10px;
        font-size: 16px;
      }
    }
  }

  // .closed-nav {
  //   height: 50px;
  // }

  .open-nav {
    background: #fff;
    // margin-top: -10px;
    // height: 100vh;
    @include vendorize(transition, 0.3s linear);
    @include mqueryphone(320px, 767px) {
      // margin-top: 0px;
      // height: auto;
    }
    .menu-btn {
      color: $color_black;
    }
  }

  .main-logo {
    img {
      height: 60px;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .user-cart-con {
    color: #fff;
    font-size: 20px;
    padding-right: 20px;
    span {
      vertical-align: middle;
      margin-top: 8px;
      display: inline-block;
      &.glyphicon-shopping-cart {
        font-size: 28px;
        margin-top: 8px;
        margin-right: 20%;
        &.highlight-cart {
          color: #ff5c00;
          cursor: pointer;
        }
        @include mqueryphone(320px, 767px) {
          margin-right: 10px;
        }
      }
      &.username {
        font-weight: 700;
        font-size: 16px;
      }
      &.domain-user {
        display: block;
        font-size: 14px;
        margin-top: 0px;
      }
    }
  }
  &.on-open-nav-head-con {
    @include mqueryphone(320px, 767px) {
      position: static;
      padding: 0px;
      .open-nav {
        width: 100%;
      }
    }
    .main-logo,
    .user-cart-con {
      @include mqueryphone(320px, 767px) {
        display: none;
      }
    }
  }
}

// nav icon animation css starts
#nav-icon1 {
  width: 30px;
  height: 30px;
  float: left;
  @include vendorize(transform, rotate(0deg));
  @include vendorize(transition, 2s ease-in-out);
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  @include vendorize(transform, rotate(0deg));
  @include vendorize(transition, 0.6s ease-in-out);
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span {
  background: #000;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  @include vendorize(transform, rotate(135deg));
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  @include vendorize(transform, rotate(-135deg));
}
// nav icon animation css ends

@media print {
  .header-con {
    position: initial;
  }
  button,
  .user-cart-con {
    display: none;
  }
}
