<div class="smart-main flex-column-display">

  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>

  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
  <header class="login-header">
    <h6 class="title">
      <img (click)="navigateToLogin()" src="./assets/5barslogo.png" title="logo">
    </h6>
  </header>
  <div class="forgot-page-main">
    <h1>Reset Password</h1>

    <img src="./assets/forgot-password.jpg" alt="forgot password" />
    
    <form #emailValidateForm="ngForm" *ngIf="!validateEmailFlag">
      <h2>Please enter your email address that is used to register for SiteSelex</h2>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" placeholder="Email Address" [(ngModel)]="resetEmail" name="email" required>
        </mat-form-field>
      </div>
      <div class="re-captcha" *ngIf="invalidUserCount>1">
        <re-captcha 
          (resolved)="resolved($event)" type="image"
          siteKey="6Lc9SGYUAAAAAD7tPcTxVBVJSo5mmSk64ks-uu92">
        </re-captcha>
      </div>
      <p class="mat-error" *ngIf="emailValidateError != ''">{{emailValidateError}}</p>
      <div class="col-md-12">
        <button class="primary-btn primary-btn-main" [disabled]="emailValidateForm.invalid" (click)="validateEmail()" [class.disabled-btn]="emailValidateForm.invalid" type="button">Submit</button>
      </div>
    </form>

    <p *ngIf="validateEmailFlag && resetOption === ''" class="email-validated-success">
      <i class="fas fa-check"></i> {{resetEmail}}
    </p>

    <form #custDetailsForm="ngForm" class="choose-form" *ngIf="validateEmailFlag && resetOption==''">
      <h2>How would you like to reset your password?</h2>
      <p class="mat-error" *ngIf="sendEmailLinkError != ''">{{sendEmailLinkError}}</p>
      <div class="flex-con">
        <div class="col-md-6">
          <p>Request email with link to reset your password</p>
          <button class="primary-btn primary-btn-main disabled-btn-tem" (click)="resetOptionSelected('email')" type="button">Send Email</button>
        </div>
        <div class="col-md-6">
          <p>Answer security questions to reset through your browser &#42;</p>
          <button class="primary-btn primary-btn-main" (click)="resetOptionSelected('online')" type="button">Reset Online</button>
          <p class="note">&#42; First time users will not be able to reset their password using this feature until their security questions are set up. Please use the reset by email link.</p>
        </div>
      </div>
    </form>

    <div class="col-md-12" *ngIf="resetOption === 'email'" class="reset-successful">
      <h3><i class="fas fa-check"></i> Password reset link sent successfully.</h3> 
      <p>You will receive an email with password reset link. Please check your inbox/spam folder.</p>
      <a [routerLink]="['/login']" href="javascript:void(0)" class="cancelBtn">Login</a> to continue.
    </div>

    <!-- <h2 class="final-reset-head" *ngIf="resetOption === 'online'">Please provide us the following details to authenticate you</h2> -->
    <form #finalresetForm="ngForm" class="final-reset-form" *ngIf="resetOption === 'online'">
      <h2>Please provide following details to authenticate you</h2>
      <div class="for-bg">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="email" disabled pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" placeholder="Email Address" [readonly]="true" [value]="resetEmail" name="email" required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="First Name" ngModel name="firstName" required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
              <input matInput type="text" placeholder="Last Name" ngModel name="lastName" required>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Zip" maxlength="5" required ngModel name="zip">
          </mat-form-field>
        </div>

        <div class="security-ques-con" *ngIf="securitySet1">
          <mat-form-field>
            <mat-select name="securityQues_1" placeholder="Security Question 1" [(ngModel)]="securitySet1[0].q_id" required>
              <mat-option *ngFor="let set1 of securitySet1" [value]="set1.q_id">{{set1.question}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Answer 1" minlength="2" ngModel name="answer_1" required>
          </mat-form-field>
        </div>

        <div class="security-ques-con" *ngIf="securitySet2">
          <mat-form-field>
            <mat-select name="securityQues_2" placeholder="Security Question 2" [(ngModel)]="securitySet2[0].q_id" required>
              <mat-option *ngFor="let set2 of securitySet2" [value]="set2.q_id">{{set2.question}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Answer 2" minlength="2" ngModel name="answer_2" required>
          </mat-form-field>
        </div>

        <div class="security-ques-con" *ngIf="securitySet3">
          <mat-form-field>
            <mat-select name="securityQues_3" placeholder="Security Question 3" [(ngModel)]="securitySet3[0].q_id" required>
              <mat-option *ngFor="let set3 of securitySet3" [value]="set3.q_id">{{set3.question}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Answer 3" minlength="2" ngModel name="answer_3" required>
          </mat-form-field>
        </div>
      </div>
      
      <div class="col-md-12">
        <button class="primary-btn primary-btn-main" [disabled]="finalresetForm.invalid" (click)="validateFinalForm(finalresetForm.value)" [class.disabled-btn]="finalresetForm.invalid" type="button">Reset Password Now</button>
      </div>
    </form>
    

  </div>
  
  <footer class="login-footer">
      <p class="copyright-text">&copy; 2018 XG Communities. All rights reserved</p>
  </footer>
</div>