@import "~sass/mixins";
@import "~sass/variables";

.login-header {
	h6 {
		&.title {
			text-align: left;
			padding: 5px 30px;
			height: 70px;
			margin-bottom: 0px;
			img {
				height: 60px;
			}
		}
	}
}
.sign-in-page {
	background-image: url('../../assets/output-1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $color_white;
	-webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
	margin-left: 2%;
	// height: 100vh;
	width: 93%;
	position: relative;
	// @include mquery(768px) {
	// 	background: none;
	// 	height: auto;
	// }
	
	// @include mqueryipad(768px, 1024px) {
	// 	background: none;
	// 	height: auto;
	// }
	@include mqueryphone(320px, 767px) {
		background: none;
		height: auto;
    }
}
.login-main-container {
	h1 {
		color: $color_black;
		margin-bottom: 15px;
		text-align: center;
		font-weight: 600;
		font-size: 35px;
	}
	.site-acquisition-quote {
		position: absolute;
		top: 63%;
		box-shadow: 1px 1px 5px #4C4A4A;
		// @include vendorize(transform,translateY(-94%));
		background: $color_brightorange;
		opacity: 0.85;
		z-index: 1;
		width: 103%;
		padding: 1.7% 48% 1.7% 6%;
		p {
			font-size: 2.5em;
			// @include mquery(1024px) {
			// 	font-size: 2.2em;
			// }
			@include mqueryipad(768px, 1024px) {
				font-size: 2.2em;
			}
			@include mqueryphone(320px, 767px) {
				font-size: 2.2em;
			}
		}
		// @include mquery(768px) {
		// 	display: none;
		// }
		// @include mquery(1024px) {
		// 	padding: 2% 43% 2% 6%;
		// }
		@include mqueryipad(768px, 1024px) {
			padding: 2% 43% 2% 6%;
			// display: none;
		}
		@include mqueryphone(320px, 767px) {
			padding: 2% 43% 2% 6%;
			display: none;
		}
	}
	.sign-up {
		margin: 20px 0px 15px 0px;
	}
}
.loginPageForm {
	// box-shadow: -1px 1px 5px #c9c5c5;
	box-shadow: 1px 1px 5px $color_boxshadow;
	width: 27%;
    background: $color_white;
    position: absolute;
    right: -1.5%;
	top: 48%;
	min-height: 410px;
	max-width: 360px;
	z-index: 2;
	color: $color_black;
	padding-top: 20px;
	&.captchaHeight {
		top: 42%;
		min-height: 470px;
		width: 29%;
	}
	::-webkit-input-placeholder {
		color: $color_black;
	}
	::-moz-placeholder {
		color: $color_black;
	}
	:-ms-input-placeholder {
		color: $color_black;
	}
	:-moz-placeholder {
		color: $color_black;
	}	
	@include vendorize(transform,translateY(-50%));
	label {		
		display: block;
		margin-bottom: 5px;
		position: absolute;
	}
	input[type='email'],input[type='password'],input[type='text'] {
		width: 100%;
		outline: 0px;	
		border: 0px;
		border-bottom: 1px solid $color_grey;
		margin-bottom: 15px;
		padding: 10px 10px 10px 27px;
		&:focus {
			border-bottom: 1px solid $color_brightorange;
		}
	}
	h3 {
		text-align: center;
		img {
			height: 25px;
		}
		.glyphicon-remove-sign {
			vertical-align: middle;
			margin: 0 5px 2px 0;
		}
		a{
			color: $color_black;
		}
	}
	p {
		margin-bottom: 30px;
		font-size: 16px;
	}
	.pos-rel {
		.glyphicon-ok, .glyphicon-eye-close, .glyphicon-eye-open {
			position: absolute;
			top: 12px;
			right: 10px;
		}
		.glyphicon-user, .glyphicon-lock {
			top: 12px;
			left: 5px;
		}
		.glyphicon-ok {
			color: $color_green;
		}
	}
	.not-registered-cont {
		position: absolute;
		background: $color_lightestgrey;
		padding: 10px;
		bottom: 0px;
		left: 0px;
		text-align: center;
		width: 100%;
		p {
			margin-bottom: 0px;
			color: $color_black;
			// font-weight: 600;
			font-size: 18px;
			a {
				// font-weight: bold;
				// font-size: 16px;
				font-weight: 500;
				color: $color_brightorange;
			}
		}
	}
	.loginError {
		color: $color_red;		
		margin-bottom: 0px;
	}
	@include mqueryipad(768px, 1024px) {
		// width: 90%;
		// left: 50%;
		// @include vendorize(transform,translate(0%, 0%));
		// position: initial;
		// margin: 0 auto;
		width: 40%;
		top: 58%;
		right: -1%;
	}
	@include mqueryphone(320px, 767px) {
		width: 90%;
		@include vendorize(transform,translate(0%, 0%));
		position: initial;
		margin: 0 auto;
	}
}
.frgtPswrdSuccessDiv {
	line-height: 40px;
	padding: 20px;
	p {
		line-height: normal;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h3 {
		text-align: left
	}
}
.login-footer {
	.copyright-text {
		padding: 8px 30px 15px 30px;		
	}
}

.pad-0-20 {
	padding: 0px 20px;
}

// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px)  {
// 	.sign-in-page {
// 		background: none;
// 		height: auto;
// 	}
// }