<div class="smart-main flex-column-display">
  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
  <header class="login-header">
    <h6 class="title"><img src="./assets/5barslogo.png" title="logo"></h6>
  </header>
  <div class="sign-in-page remove-mrgn-left-right">
    <div class="login-main-container">
      <div class="site-acquisition-quote">
          <p>Site acquisition and planning for small cell deployment made easy</p>
      </div>
      <div class="register" *ngIf="isLoginVisible">
        <form class="loginPageForm" [class.captchaHeight]="invalidUserCount>1" action="site/home.html" #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
          <div class="pad-0-20">
              <h1>Welcome!</h1>
              <div class="pos-rel">
                  <label><span class="glyphicon glyphicon-user"></span> </label>
                  <input minlength="4" (focus)="loginErrorTrue=false" placeholder="Email address" #loginMail="ngModel" ngModel id="loggedEmail" class="mail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" type="email" name="email" required="">
                  <span *ngIf="loginMail.valid" class="glyphicon glyphicon-ok"></span>
              </div>
              <div class="pos-rel">
                  <label><span class="glyphicon glyphicon-lock"></span> </label>
                  <input class="lock" (focus)="loginErrorTrue=false" placeholder="Password" #loginPassword ngModel type="password" id="loggedPass" name="password" required="">
                  <span (click)="showHidePassword()" *ngIf="!eyeOpen" class="glyphicon glyphicon-eye-close"></span>
                  <span (click)="showHidePassword()" *ngIf="eyeOpen" class="glyphicon glyphicon-eye-open"></span>
              </div>
              <p class="loginError" [hidden]="!loginErrorTrue">{{loginErrorText}}</p>
               
              <div class="re-captcha" *ngIf="invalidUserCount>1">
                <re-captcha 
                  (resolved)="resolved($event)" type="image"
                  siteKey="6Lc9SGYUAAAAAD7tPcTxVBVJSo5mmSk64ks-uu92">
                </re-captcha>
              </div>

              <div class="sign-up">
                <button class="primary-btn primary-btn-main" [disabled]="loginForm.invalid" [class.disabled-btn]="loginForm.invalid" type="submit">Sign In</button>
              </div>
              <h3><img src="../../assets/reset_icon.png"><a href="javascript:void(0)" (click)="showforgotPassword()"> Forgot Password</a></h3>
              <!-- <h3 class="display-inline-block float-right hide"><a (click)="showNewUser()"> New User?</a></h3> -->
          </div>
          <div class="not-registered-cont">
            <p *ngIf="!loginNotRegistered">Not Registered? <a (click)="loginNotRegistered=true" href="javascript:void(0)">Contact Us</a></p>
            <p *ngIf="loginNotRegistered">Email: <a href="mailto:selex-registration@xgcommunities.com">selex-registration@xgcommunities.com</a></p>
          </div>
        </form>
      </div>
      <!-- <div class="frgtpassword" *ngIf="isForgotPasswordVisible">
        <form class="loginPageForm" (ngSubmit)="onResetPasswordSubmit(forgotPaswrdForm)" #forgotPaswrdForm="ngForm">
          <div class="pad-0-20">
            <div *ngIf="!frgtPswrdSuccessVisible && !frgtPswrdErrorVisible">
              <h1 *ngIf="!frgtPswrdSuccessVisible && !frgtPswrdErrorVisible">Reset Password</h1>
              <p>Enter your email below and we'll send you a link to reset your password.</p>
              <div class="pos-rel">
                  <label><span class="glyphicon glyphicon-user"></span> </label>
                  <input minlength="4" placeholder="Email address" ngModel #forgotPassMail="ngModel" class="mail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" type="email" name="email" required="">
                  <span *ngIf="forgotPassMail.valid" class="glyphicon glyphicon-ok"></span>
              </div>
              <p class="loginError" [hidden]="!resetErrorTrue">An error occured. Please try again later.</p>
              <div class="sign-up">
                <button type="submit" [disabled]="forgotPaswrdForm.invalid" [class.disabled-btn]="forgotPaswrdForm.invalid" class="primary-btn primary-btn-main">Send Email</button>
              </div>
              <h3>
                  <span class="glyphicon glyphicon-remove-sign"></span>
                  <a class="cancelBtn" href="javascript:void(0)" (click)="showLogin()">Cancel</a>
              </h3>
            </div>
            <div class="not-registered-cont">
              <p *ngIf="!loginNotRegistered">Having Login Issues? <a (click)="loginNotRegistered=true" href="javascript:void(0)">Contact Us</a></p>
              <p *ngIf="loginNotRegistered">Email: <a href="mailto:selex-registration@xgcommunities.com">selex-registration@xgcommunities.com</a></p>
            </div>
          </div>
          <div class="frgtPswrdSuccessDiv" *ngIf="frgtPswrdSuccessVisible">
            <h3>Password reset successful.</h3> 
            <p>You will receive an email with password reset link. Please check your spam folder.</p>
            <a (click)="showLogin()" href="javascript:void(0)" class="cancelBtn">Login</a> to continue.
          </div>
        </form>
      </div> -->
      <!-- <div *ngIf="isNewUserVisible">
        <div class="newuser" *ngIf="isNewUserFormVisible">
          <div class="newuserformdiv">
            <h1>New User Registration</h1>
            <form id="new-user-form" (ngSubmit)="onNewUserFormSubmit(newUserForm)" #newUserForm="ngForm">
              <span class="sign-in-label">First Name</span>
              <input placeholder="First Name" minlength="3" ngModel class="mail" id="registerfirstname" type="text" name="firstName" required="">
              <span class="sign-in-label">Last Name</span>
              <input placeholder="Last Name" minlength="1" ngModel class="mail" id="registerlastname" type="text" name="lastName" required="">
              <span class="sign-in-label">Email address</span>
              <input placeholder="Email Address" minlength="4" ngModel class="mail" id="registeremail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" type="email" name="email" required="">
              <span class="sign-in-label">Phone</span>
              <input placeholder="Phone" minlength="10" ngModel class="mail" id="registerphone" type="text" name="phone" required="">
              <span class="sign-in-label">Role</span>
              <input placeholder="Role" minlength="1" ngModel class="mail" id="userRole" type="text" name="role" required="">
              <span class="sign-in-label">Company</span>
              <input placeholder="Company" class="mail" ngModel id="registercompany" type="text" name="company" required="">
              <div class="sign-up">
                <input type="submit" class="primary-btn primary-btn-main" value="Request Access" />
                <a (click)="showLogin()" class="cancelBtn">Cancel</a>
              </div>
              <p>By requesting access you agree to the 5Bars Services Agreement and privacy statement.</p>
            </form>
          </div>
        </div>
        <div class="newusersuccessdiv" *ngIf="isNewUserSuccessVisible">
          <h3>Registration successful. You will soon get an email with login details.</h3>
          <a (click)="showLogin()" href="javascript:void(0)" class="cancelBtn">Login</a> to continue.
        </div>
        <div class="newusererrordiv" *ngIf="isNewUserErrorVisible">
          <h3>An error occured with your registration. Please try again later.</h3>
          <a (click)="showLogin()" href="javascript:void(0)" class="cancelBtn">Login</a> or <a (click)="showNewUser()" href="javascript:void(0)"> Register</a> to continue.
        </div>
      </div> -->
    </div>
  </div>
  <footer class="login-footer">
      <p class="copyright-text">&copy; 2018 XG Communities. All rights reserved</p>
  </footer>
</div>
<!-- <div class="col-md-6 sign-in-right-section">
      <section class="blurBg"></section>
      <p>Site acquisition and planning for small cell deployment made easy</p>
      <a class="primary-btn hide" (click)="showNewUser()">Request Access</a>
    </div> -->
