@import "~sass/variables";
@import "~sass/mixins";

.fixed-height {
	height: 66px;
	@include mqueryipad(768px, 1024px) {
		height: 93px;
	}
	@include mqueryphone(346px, 767px) {
		height: 93px;
	}
	@include mqueryphone(320px, 345px) {
		height: 120px;
	}
}

.footer {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	p {
		font-size: 15px;
		color: $color_black;
		line-height: 1.8em;
		margin-right: 20px;
	}
	@include mquery(991px) {
		display: inline-block;
	}
	@include mquery(320px) {
		p {
			font-size: 15px;
		}
	}
}

.plain-link {
	color: $color_brightorange;
}
.footer-content {
	display: flex;
	a {
		margin-left: 20px;
		margin-right: 20px;
	}
	@include mquery(991px) {
		width: 100%;
		justify-content: center;
	}
}
.footer-container {
	background-color: $color_white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: solid 1px $color_lightgrey;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 60px;
	@include mquery(480px) {
		width: 100%;
		justify-content: center;
	}
}