<div class="fixed-height"></div>
<div class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <a href="../assets/pdf_files/site_seleX_tc.pdf" target="_blank" class="plain-link">Terms and Conditions</a>
      <a href="../assets/pdf_files/faq.pdf" class="plain-link" target="_blank">FAQs</a>
      <a [routerLink]="['/contactus']" class="plain-link">Contact us</a>
    </div>
    <div class="copyright-text">
      <p>&copy; 2018 XG Communities. All rights reserved</p>
    </div>
  </div>
</div>
