<?php $items = $block->getItems() ?>
<?php $baseUrls = $block->getUrls() ?>
Site<b> #<?= $items['sku']?> </b> from your Waitlist is Available for Reservation<br/><br/>

Below are the Site Details.<br/><br/>

<table class="email-items">

	<tbody>
		<tr><td><b>Sku :</b></td><td><?= $items['sku'] ?></td></tr>
		<tr><td><b>Latitude :</b></td><td><?= $items['latitude'] ?></td></tr>
		<tr><td><b>Longitude :</b></td><td><?= $items['longitude']?></td></tr>
		<tr><td><b>State :</b></td><td><?= $items['state']?></td></tr>
		<tr><td><b>City :</b></td><td><?= $items['city']?></td></tr>
		<tr><td><b>City Area :</b></td><td><?= $items['city_area']?></td></tr>
		<tr><td><b>Pole Class :</b></td><td><?= $items['pole_class']?></td></tr>
		<tr><td><b>Monthly Charges :</b></td><td><?= $items['monthly_charges']?></td></tr>
		<tr><td colspan="2" style="text-align:center;">
                <a style="background-color:black;padding:10px 15%;display:inline-block" href="<?= $baseUrls?>" target="_blank">Reserve Site</a>
            </td></tr>
	</tbody>    
</table>
<br><p align="center"><b>Note:</b><i>Site Will be available for Reservation upto 7 Days from Now</i></p>



