<div class="container-fluid">
<app-header-new></app-header-new>

<div class="loader-bg" [hidden]="!showLoader"></div>
<div class="loader" [hidden]="!showLoader"></div>
<site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
<div class="container-body">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
		<h1>Site SeleX Confirmation</h1>
		<h1>{{confirmationNumber}}</h1>
		<p class="reserved-time-stamp">Reservation completed at: <label class="reserv-time">{{ confirmationTime }}</label></p>
	</div>

	<div class="confirmation-page">
		<div class="quotes confirmation-quotes">
			<!-- <div>
				<h1 class="title" style="padding:20px 0;">Site SeleX Confirmation</h1>
				<h1 class="title bold" style="font-size:34px;">{{confirmationNumber}}</h1>
				<span class="reserved-time-stamp">Reservation completed at: <label class="reserv-time">{{ confirmationTime }}</label></span>
			</div> -->
			
			<div class="print-email-btn-section" *ngIf="totalsitecountdata > 0">
				<button type="button" (click)="print()" class="primary-btn new-btn-light-back btn-width-maintain hideonprint">Print</button>
			</div>
		</div>
		
		<div class="navigation-bottom payment" *ngIf="totalsitecountdata > 0">
			<div class="col-md-6 confirmation-right showonmobile">
				<span>One Time fees for site, billed immediately</span>
				<span class="amount payment-price">${{totalOneTimeFee | number}}</span>
			</div>
			<div class="textCenter displayMobile">
				<h3 class="payment-details" [innerHTML]="paymentDetail"></h3>
				<h4>(<span class="monthly-fees-confirm">${{totalRentLeaseFee | number}}</span> Monthly fee active upon delivery of build permit and will be billed annually unless otherwise determined)</h4>
			</div>
			<div class="textCenter mrgnBtm20 displayMobile hide">
				<!-- <a href="/terms-conditions.html" target="_blank" class="primary-btn new-btn-light-back btn-small btn-width-maintain hideonprint hide">Create Invoice</a> -->
			</div>
			<div class="col-md-7 payment-right mrgnBtm25">
				<div class="col-md-12 confirmationProject-section mrgnBtm25" *ngIf="projectContact && projectContact.name != '' ">
					<h2>Site contact</h2>
					<div class="row confirmationProjectContact">
						<div class="col-md-4 confirmationProjectNameDiv" *ngIf="projectContact.name != '' ">
							<span class="input-label">Name</span>
							<span class="confirmationProjectDetail confirmationProjectName">{{projectContact.name}}</span>
						</div>
						<div class="col-md-4 confirmationProjectEmailDiv" *ngIf="projectContact.email != '' ">
							<span class="input-label">Email</span>
							<span class="confirmationProjectDetail confirmationProjectEmail">{{projectContact.email}}</span>
						</div>
						<div class="col-md-4 confirmationProjectPhoneDiv" *ngIf="projectContact.phone != '' ">
							<span class="input-label">Phone</span>
							<span class="confirmationProjectDetail confirmationProjectPhone">{{projectContact.phone}}</span>
						</div>
					</div>
					<div class="row confirmationProjectContact">
						<div class="col-md-4 confirmationProjectCompanyDiv" *ngIf="projectContact.company != '' ">
							<span class="input-label">Company </span>
							<span class="confirmationProjectDetail confirmationProjectCompany">{{projectContact.company}}</span>
						</div>
						<div class="col-md-8 confirmationProjectCommentsDiv" *ngIf="projectContact.comment != '' ">
							<span class="input-label">Comments </span>
							<span class="confirmationProjectDetail confirmationProjectComments">{{projectContact.comment}}</span>
						</div>
		
					</div>
				</div>
		
				<div class="col-md-12 reserve-sites sites-section" *ngIf="totalsitecountdata > 0">
					<h2>Sites Reserved</h2>
					<hr>
					<div class="navigation-bottom-menu-bottom reserve-site-section">
						<!-- <div *ngIf="site.reserved"> -->
							<div *ngFor="let site of sitedataInConfirmation; let i = index" class="added-sites-new-table">
								<div class="index">{{i+1}}</div>
								<div class="width100">
									<p class="site-id">{{site.name}}</p>
									<span class="site-details">Site Coordinates ({{site.extension_attributes.latitude}} , {{site.extension_attributes.longitude}}), Location Type({{site.extension_attributes.city_area}}), Pole Type ({{site.extension_attributes.pole_class}})</span>
									<p *ngIf="site.extension_attributes.has_conduit_requested"><strong>Request for nearby city-owned fiber / conduit submission</strong></p>
									<div class="fee-details">
										<div class="site-left">
											<div class="fee-div">
												<span class="amount-type">Rent/Lease Monthly Fee:</span>
												<span class="amount">${{site.extension_attributes.rent_lease_fee | number}}</span><sub>.00</sub>
											</div>
											<p>(Billed annually unless otherwise determined)</p>
										</div>
										<div class="site-right">
											<div class="fee-div">
												<span class="amount-type">One Time Fee:</span>
												<span class="amount">${{parseInt(site.price) | number}}</span><sub>.00</sub>
												<!-- <span class="amount" *ngIf="site.extension_attributes.survey_lease_selected">${{parseInt(site.price) + parseInt(site.extension_attributes.site_survey_lease_fee) | number}}</span><sub *ngIf="site.extension_attributes.survey_lease_selected">.00</sub> -->
											</div>
											<p class="site-details">Site Selection Fee: ${{site.extension_attributes.site_selection_fee | number}}.00</p>
											<p class="site-details" *ngIf="site.extension_attributes.survey_lease_selected">Site Survey &amp; Lease Exhibit Fee: ${{site.extension_attributes.site_survey_lease_fee | number}}.00</p>
										</div>
									</div>
								</div>
							</div>
						<!-- </div> -->
					</div>
					<div class="col-md-12 payment-total-sites-section">
						<div class="total-sites-section">
							<div class="added-sites-new-table added-site-total-table">
								<div class="index"> </div>
								<div class="width100">
									<div class="total-text">TOTAL</div>
									<div class="fee-details">
										<div class="site-left">
											<div class="fee-div">
												<span class="amount-type">Rent/Lease Monthly Fee:</span>
												<span class="amount">${{totalRentLeaseFee | number}}</span><sub>.00</sub>
											</div>
										</div>
										<div class="site-right">
											<div class="fee-div">
												<span class="amount-type">One Time Fee:</span>
												<span class="amount">${{totalOneTimeFee | number}}</span><sub>.00</sub>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row next-steps-box">
						<div class="">
							<h2>Next Steps</h2>
							<ol>
								<li>XG Communities will follow up within 24 hours to obtain a signature on the sublicense agreement for the sites you reserved.</li>
								<li>Upon receipt of the signed agreement via DocuSign, an invoice will be generated for the Site Selection Fee.</li>
								<li>If you selected additional services for the Site Survey and Lease Exhibit creation, XG Communities will contact you about next steps. The documents will be transmitted within 30 days.</li>
								<li>Upon receipt of the Site Survey and Lease Exhibit, an updated sublicense agreement with the populated Lease Exhibit will be remitted.</li>
								<li>Please contact XG Communities at <a href="mailto:info@xgcommunities.com">info@xgcommunities.com</a> should you have any questions.</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-md-5 mrgnBtm25">
				<div class="col-md-12 confirmation-right showondesktop">
					<span class="cf-one-time-text">One Time fees for site, billed immediately</span>
					<span class="amount payment-price">${{totalOneTimeFee | number}}</span>
				</div>
				<div class="textCenter displayDesktop">
					<h3 class="payment-details" [innerHtml]="paymentDetail"></h3>
					<h4 class="cf-one-time-text">(<span class="monthly-fees-confirm">${{totalRentLeaseFee | number}}</span> Monthly fee active upon delivery of build permit and will be billed annually unless otherwise determined)</h4>
				</div>
				<div class="textCenter mrgnBtm20 displayDesktop hide">
					<a href="media/wireless-agreement-faqs.pdf" target="_blank" class="primary-btn primary-btn-main btn-small display-inline-block hideonprint">Create Invoice</a>
				</div>
		
				<div class="clearfix"> </div>
			</div>
		
		</div>
	</div>
</div>
<site-selex-footer></site-selex-footer>
</div>