@import "~sass/variables";
@import "~sass/mixins";

.confirmation-page {
	// background-image: url(../../assets/reservation_picture.png);
	// -webkit-flex: 1 0 auto;
    // -ms-flex: 1 0 auto;
	// flex: 1 0 auto;
	display: inline-block;
	width: 100%;
	background: $color_iron;
	padding-bottom: 20px;
}
.confirmation-right {
	padding: 40px;
	padding-top: 100px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	@include mqueryipad(768px, 1024px) {
		min-height: auto;
		padding: 30px 20px 0 20px;
	}
	@include mqueryphone(320px, 767px) {
		min-height: auto;
		padding: 30px 20px 0 20px;
		width: 100%;
	}
	.amount {
		font-size: 6em;
		font-weight: 700;
		@include mqueryipad(768px, 1024px) {
			font-size: 4em;
		}
		@include mqueryphone(320px, 767px) {
			font-size: 4em;
		}
	}
}
.confirmation-single-po {
	margin-top: 15px;
	p {
		font-size: 17px;
	}
}
.confirmationProjectContact {
	margin-right: 0;
	margin-left: 0;
	padding-top: 20px;
	div {
		margin-bottom: 10px;
	}
}
.confirmationProjectDetail {
	font-weight: 700;
	display: block;
	font-size: 20px;
	word-break: break-all;
}
.emailinvoicetextbox {
	width: 100%;
	max-width: 250px;
	margin: 0 0 25px 0;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid $color_lightgrey;
	outline: none;
	font-size: 15px;
}
.email-send-btn {
	padding: 1px 10px 3px 10px;
}
.email-close-btn {
	border-color: $color_lightorange;
	border-radius: 0;
	&:hover {
		background-color: $color_lightorange;
		border: solid 1px $color_lightorange;
	}
	&:focus {
		background-color: $color_lightorange;
		border: solid 1px $color_lightorange;
	}
}
.next-steps-box {
	padding: 10px 15px 10px 40px;
	ol {
		li {
			margin-bottom: 10px;
			text-align: justify;
		}
	}
}
.print-email-btn-section {
	margin-top: 20px;
	text-align: right;
	display: inline-block;
	margin-top: auto;
	width: 100%;
	height: 60px;
	input[type="button"] {
		&:hover {
			color: $color_white;
		}
		// @include mquery(991px) {
		// 	margin-bottom: 10px;
		// }
		@include mqueryipad(768px, 1024px) {
			margin-bottom: 10px;
		}
		@include mqueryphone(320px, 767px) {
			margin-bottom: 10px;
		}
	}
	// @include mquery(991px) {
	// 	margin-top: 20px;
	// }
	@include mqueryipad(768px, 1024px) {
		margin-top: 20px;
	}
	@include mqueryphone(320px, 767px) {
		margin-top: 20px;
	}
}
.cf-one-time-text {
	font-size: 20px;
}
.reserv-time {
	font-size: 24px;
}
.added-sites-new-table {
	width: 100%;
	display: flex;
	padding: 30px 30px 30px 0;
	border-bottom: solid 1px $color_lightgrey;
	.index {
		height: 100%;
		margin-right: 10px;
		font-size: 26px;
		font-weight: 700;
		padding: 0 20px;
	}
	.site-id {
		font-size: 26px;
		font-weight: 700;
	}
	.site-details {
		font-size: 15px;
		color: $color_lightgrey;
		display: block;
	}
	.fee-details {
		display: flex;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: 15px;
	}
	.fee-div {
		margin-bottom: 5px;
	}
	.site-left {
		margin-bottom: 20px;
		width: 100%;
	}
	.amount-type {
		font-weight: 700;
	}
	.amount {
		font-size: 24px;
		font-weight: 700;
	}
	sub {
		font-weight: 700;
		bottom: 0;
	}
}
.added-site-total-table {
	padding-top: 0;
	border: none;
	padding: 20px 30px 20px 0;
	.total-text {
		font-size: 24px;
		font-weight: 700;
	}
	.fee-details {
		margin-top: 0;
		justify-content: space-evenly;
		@include mqueryphone(320px, 767px) {
			justify-content: left;
		}
	}
	.amount-type {
		font-weight: normal;
	}
	.site-left {
		width: auto;
	}
}
.payment-total-sites-section {
	margin-bottom: 30px;
}
@media (max-width:991px) {
	.confirmationProjectContact {
		&:last-child {
			padding-top: 0px;
		}
	}
	.confirmationProjectDetail {
		display: inline-block;
		margin-left: 10px;
	}
}
@media print {
	.header-con {
		position: initial;
	}
	.view-more {
		display: none !important;
	}
	h1 {
		font-size: 12px;
	}
	.site-details {
		display: block !important;
		padding-left: 0px !important;
	}
	.confirmationProjectContact {
		&:last-child {
			padding-top: 0px;
		}
	}
}
.confirmation-quotes {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 16px;
	padding-bottom: 16px;
	span {
		display: inline-block;
		width: 100%;
		text-align: left;
		color: $color_white;
		color: $color_white;
	}
	// @include mquery(991px) {
	// 	width: 100%;
	// 	display: inline-block;
	// }
	@include mqueryipad(768px, 1024px) {
		width: 100%;
		display: inline-block;
	}
	@include mqueryphone(320px, 767px) {
		width: 100%;
		display: inline-block;
	}
}

.navigation-bottom.payment {
	// margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: $color_alto;
	.payment-right {
		background: $color_alto;
	}
}