@import "~sass/variables";

.comingsoonpage-body {
  background-color: $color_lightorange;
  // background-repeat: no-repeat;
  background-position: center;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  justify-content: center;
  text-align: center;
  color: $color_white;
  padding-top: 10%;
}
