<div class="smart-main flex-column-display">
	<app-header-new></app-header-new>

	<div class="comingsoonpage-body">
		<h1 class="title">Coming Soon</h1>
		<h2>Stay tuned for something amazing!!!</h2>
	</div>
	
	<site-selex-footer></site-selex-footer>
</div>
