
<div class="container-fluid">
  <app-header-new></app-header-new>

	<site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
	<div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>
  
	<div class="request-site-page container-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>My Site Requests</h1>
      <p>Review your site requests</p>
    </div>
  
    <div class="row site-requests-main-display">
      <div class="col-md-12">      
        <div class="navigation-bottom-menu-bottom">
          <div *ngFor="let site of siteRequests" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
                <agm-marker [latitude]="site.latitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.longitude"></agm-marker>
              </agm-map>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 view-details-left-sec">
              <h3 *ngIf="site.request_id">Request ID #{{site.request_id}}</h3>
              <!-- <span>Requested By - {{site.customer_name}} ({{site.customer_email}})</span> -->
              <span>{{site.state}}, {{site.city}}</span>
              <span>Site Coordinates
                <br> ({{site.latitude}} , {{site.longitude}})</span>
              <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
              <span class="site-Details-type">Type ({{site.pole_class}})</span>
              <span>Electrical Services (Yes)</span>
            </div>

            <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 approve-btn-con">
              <button type="button" class="primary-btn new-btn-light-back" (click)="createSite(site)">Approve</button>
              <button type="button" class="primary-btn new-btn-light-back" (click)="RejectSite(site)">Reject</button>
            </div>  -->
          </div>

          <h2 class="no-orders-message" *ngIf="siteRequests.length == 0 && siteApproved.length == 0 && siteRejected.length == 0 && siteFetched == true">No sites has been requested</h2>

          <div *ngIf="siteApproved.length>0" class="site-app-rej-con">
            <h2>Sites Approved</h2>
            <div *ngFor="let site of siteApproved" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
                  <agm-marker [latitude]="site.latitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.longitude"></agm-marker>
                </agm-map>
              </div>
  
              <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 view-details-left-sec">
                <h3 *ngIf="site.sku">Site ID #{{site.sku}}</h3>
                <!-- <span>Requested By - {{site.customer_name}} ({{site.customer_email}})</span> -->
                <span>{{site.state}}, {{site.city}}</span>
                <span>Site Coordinates
                  <br> ({{site.latitude}} , {{site.longitude}})</span>
                <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
                <span class="site-Details-type">Type ({{site.pole_class}})</span>
                <span>Electrical Services (Yes)</span>
              </div>
            </div>
          </div>

          <div *ngIf="siteRejected.length>0" class="site-app-rej-con">
            <h2>Sites Rejected</h2>
            <div *ngFor="let site of siteRejected" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site-details-con">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
                  <agm-marker [latitude]="site.latitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'" [longitude]="site.longitude"></agm-marker>
                </agm-map>
              </div>
  
              <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 view-details-left-sec">
                <h3 *ngIf="site.request_id">Request ID #{{site.request_id}}</h3>
                <!-- <span>Requested By - {{site.customer_name}} ({{site.customer_email}})</span> -->
                <span *ngIf="site.rejected_reason">Rejected Reason ({{site.rejected_reason}})</span>
                <span>{{site.state}}, {{site.city}}</span>
                <span>Site Coordinates
                  <br> ({{site.latitude}} , {{site.longitude}})</span>
                <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
                <span class="site-Details-type">Type ({{site.pole_class}})</span>
                <span>Electrical Services (Yes)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
	

	<site-selex-footer></site-selex-footer>	
</div>