
<div class="container-fluid">
  <app-header-new (loggedUserDetails) = "receivedUserData($event)"></app-header-new>

	<site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
	<div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>
  
	<div class="request-site-page container-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading" *ngIf="!requestSuccess">
      <h1>Request Site(s)</h1>
      <p>Please provide details to request site(s)</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading" *ngIf="requestSuccess && requestedSites.length > 0">
      <h1><span class="glyphicon glyphicon-ok"></span> THANK YOU</h1>
      <p>We have received your request for site(s) on {{today | date:'dd MMM yyyy'}} for the following Cities.</p>
    </div>
		<!-- <div class="title-section" *ngIf="!requestSuccess">
			<div>
        <h1 class="title">Request Site(s)</h1>
        <p>Please provide details to request site(s)</p>
			</div>
    </div> -->
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 request-ste-form-con" *ngIf="!requestSuccess">
      <form class="row request-ste-form" #requestForm="ngForm" (ngSubmit)="addRequestedSite(requestForm)">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select name="state" placeholder="State State" [(ngModel)]="siteFormModel.state" required>
              <!-- <mat-option value="">Select Option</mat-option> -->
              <mat-option (click)="stateChanged()" *ngFor="let state of statelist" [value]="state">
                {{state.state}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <label>State</label>
          <select name="state" required [(ngModel)]="siteFormModel.state" (change)="stateChanged()">
            <option value="">Select Option</option>
            <option [ngValue]="state" *ngFor="let state of statelist">{{state.state}}</option>
          </select> -->
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select name="city" placeholder="Select City" [(ngModel)]="siteFormModel.city" required>
              <!-- <mat-option value="">Select Option</mat-option> -->
              <mat-option *ngFor="let city of citylist" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <label>City</label>
          <select name="city" required [(ngModel)]="siteFormModel.city">
            <option value="">Select Option</option>
            <option [value]="city" *ngFor="let city of citylist">{{city}}</option>
          </select> -->
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Latitude" required pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)" [(ngModel)]="siteFormModel.latitude" name="latitude">
            <mat-hint align="start">Latitude should be in the range of -90 to +90</mat-hint>
          </mat-form-field>

          <!-- <label>Latitude</label>
          <input type="text" name="latitude" [ngClass]="{'error-border':!latitudeTest.valid && latitudeTest.dirty}" #latitudeTest="ngModel" required pattern="^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)" [(ngModel)]="siteFormModel.latitude">
          <span class="lat-lon-help-text">Latitude should be in the range of -90 to +90</span> -->
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Longitude" required pattern="^[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)" [(ngModel)]="siteFormModel.longitude" name="longitude">
            <mat-hint align="start">Longitude should be in the range of -180 to +180</mat-hint>
          </mat-form-field>

          <!-- <label>Longitude</label>
          <input type="text" name="longitude" [ngClass]="{'error-border':!longitudeTest.valid && longitudeTest.dirty}" #longitudeTest="ngModel" required pattern="^[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)" [(ngModel)]="siteFormModel.longitude">
          <span class="lat-lon-help-text">Longitude should be in the range of -180 to +180</span> -->
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select name="locType" placeholder="Select Location Type" [(ngModel)]="siteFormModel.locType" required>
              <!-- <mat-option value="">Select Option</mat-option> -->
              <mat-option value="Downtown">Downtown</mat-option>
              <mat-option value="Other">Other</mat-option>
              <mat-option value="Unknown">Unknown</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <label>Location Type</label>
          <select name="locType" required [(ngModel)]="siteFormModel.locType">
            <option value="">Select Option</option>
            <option value="Downtown">Downtown</option>
            <option value="Other">Other</option>
            <option value="Unknown">Unknown</option>
          </select> -->
        </div>
        <div class="col-md-6" [ngClass]="{'other-pole-selected':siteFormModel.poleType == 'Other'}">
          <mat-form-field>
            <mat-select name="poleType" placeholder="Select Pole Type" [(ngModel)]="siteFormModel.poleType" required>
              <!-- <mat-option value="">Select Option</mat-option> -->
              <mat-option value="Wood">Wood</mat-option>
              <mat-option value="Steel">Steel</mat-option>
              <mat-option value="New Wood Pole">New Wood Pole</mat-option>
              <mat-option value="New Metal Pole">New Metal Pole</mat-option>
              <mat-option value="New Light Pole">New Light Pole</mat-option>
              <mat-option value="Other">Other</mat-option>
              <mat-option value="Unknown">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <label>Pole Type</label>
          <select name="poleType" required [(ngModel)]="siteFormModel.poleType">
            <option value="">Select Option</option>
            <option value="Wood">Wood</option>
            <option value="Steel">Steel</option>
            <option value="New Wood Pole">New Wood Pole</option>
            <option value="New Metal Pole">New Metal Pole</option>
            <option value="New Light Pole">New Light Pole</option>
            <option value="Other">Other</option>
            <option value="Unknown">Unknown</option>
          </select> -->
          <mat-form-field *ngIf="siteFormModel.poleType == 'Other'">
            <input matInput placeholder="" required [(ngModel)]="otherPoleType" name="poleTypeFreeText">
          </mat-form-field>
          <!-- <input type="text" *ngIf="siteFormModel.poleType == 'Other'" required [(ngModel)]="otherPoleType" name="poleTypeFreeText"> -->
        </div>
        <div class="col-md-12">
          <button type="submit" [ngClass]="{'disabled-btn':!requestForm.valid}" [disabled]="!requestForm.valid" class="primary-btn new-btn-light-back">+ ADD SITE</button>
        </div>
      </form>
    </div>

    <div class="navigation-bottom" *ngIf="requestedSites.length > 0 && !requestSuccess">
      <div class="requested-item" *ngFor="let site of requestedSites;let index = index">
          <div class="cancel-section row"><span (click)="removeSite(index)" title="remove site" class="glyphicon glyphicon-remove"></span></div>
          <!-- <div class="hidden-xs hidden-sm col-md-1">
            <img style="height: 50px;" src="assets/site-icon.png">
          </div> -->
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
              <agm-marker [latitude]="site.latitude" [longitude]="site.longitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'"></agm-marker>
            </agm-map>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 view-details-left-sec">
            <h3>{{site.city}}, {{site.state}}</h3>
            <span>Site Coordinates
              <br> ({{site.latitude}} , {{site.longitude}})</span>
            <span class="site-Details-loctype">Location Type ({{site.cityArea}})</span>
            <span class="site-Details-type">Type ({{site.poleClass}})</span>
            <!-- <span>Electrical Services (Yes)</span> -->
          </div>

          <!-- <div class="col-md-11 site-details">
            <p>State: <span>{{site.state}}</span></p>
            <p>City: <span>{{site.city}}</span></p>
            <p>Location Type: <span>{{site.cityArea}}</span></p>
            <p>Latitude: <span>{{site.latitude}}</span></p>
            <p>Longitude: <span>{{site.longitude}}</span></p>
            <p>Pole Type: <span>{{site.poleClass}}</span></p>
          </div> -->
      </div>
      <div class="request-sites-btn-container">
        <a (click)="requestSites()" class="primary-btn new-btn-light-back">Request Site(s)</a>
      </div>
    </div>

    <div class="navigation-bottom" *ngIf="requestSuccess">
      <h3 *ngIf="requestedSitesSuccess.length > 0">New site(s) requested</h3>
      <div class="requested-item" *ngFor="let site of requestedSitesSuccess">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
            <agm-marker [latitude]="site.latitude" [longitude]="site.longitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'"></agm-marker>
          </agm-map>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 view-details-left-sec">
          <h3>{{site.city}}, {{site.state}}</h3>
          <span>Site Coordinates
            <br> ({{site.latitude}} , {{site.longitude}})</span>
          <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
          <span class="site-Details-type">Type ({{site.pole_class}})</span>
          <!-- <span>Electrical Services (Yes)</span> -->
        </div>
      </div>

      <h3 *ngIf="duplicateRequestsSuccess.length > 0">Following site(s) are currently under review</h3>
      <div class="requested-item" *ngFor="let site of duplicateRequestsSuccess">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
            <agm-marker [latitude]="site.latitude" [longitude]="site.longitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'"></agm-marker>
          </agm-map>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 view-details-left-sec">
          <h3>{{site.city}}, {{site.state}}</h3>
          <span>Site Coordinates
            <br> ({{site.latitude}} , {{site.longitude}})</span>
          <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
          <span class="site-Details-type">Type ({{site.pole_class}})</span>
          <!-- <span>Electrical Services (Yes)</span> -->
        </div>
      </div>

      <h3 *ngIf="duplicateSitesSuccess.length > 0">Following site(s) are currently available in SiteSelex</h3>
      <div class="requested-item" *ngFor="let site of duplicateSitesSuccess">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <agm-map [latitude]="site.latitude" [longitude]="site.longitude" [zoom]="8">
            <agm-marker [latitude]="site.latitude" [longitude]="site.longitude" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/red-dot.png'"></agm-marker>
          </agm-map>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 view-details-left-sec">
          <h3>{{site.sku}}</h3>
          <span>{{site.city}}, {{site.state}}</span>
          <span>Site Coordinates
            <br> ({{site.latitude}} , {{site.longitude}})</span>
          <span class="site-Details-loctype">Location Type ({{site.city_area}})</span>
          <span class="site-Details-type">Type ({{site.pole_class}})</span>
          <p class="on-hold" *ngIf="site.site_requested == 1 && loggedUserData.id != site.site_assigned_to">On hold for next {{site.site_hold_days_count}} days</p>
          <button type="button" *ngIf="site.site_requested != 1 || loggedUserData.id == site.site_assigned_to" (click)="reserveSiteToSearch(site)" class="primary-btn new-btn-light-back">reserve site</button>
          <!-- <span>Electrical Services (Yes)</span> -->
        </div>
      </div>

      <div class="request-sites-btn-container message-only">
        <p>SiteSelex will process the request and reach out to you if additional information is required or when site(s) become available to confirm next steps.</p>
      </div>
    </div>
	</div>
	

	<site-selex-footer></site-selex-footer>	
</div>