.btn {
	&.active, &.focus {
		box-shadow: none;
		&:focus {
			outline: none;
		}
	}
	&:active {
		box-shadow: none;
		&:focus {
			outline: none;
		}
	}
	&:focus {
		outline: none;
	}
	&:active.focus {
		outline: none;
	}
}
.primary-btn {
	border: solid 1px $color_brightorange;
	color: $color_white;
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
	outline: none;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 8px 36px;
	font-weight: 600;
	background-color: $color_transparent;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	width: fit-content;
	width: auto;
	border-radius: 40px;
	position: relative;
	&:not(.disabled-btn):after {
		content: '\f30b';
		position: absolute;
		font-family: "Font Awesome 5 Free";
		opacity: 0;
		top: 8.5px;
		right: -20px;
		transition: 0.5s;
	}
	&.no-arrow-ani:after {
		content: '';
	}
	&:hover {
		background-color: $color_brightorange;
		color: $color_white;
		&:after {
			opacity: 1;
  			right: 10px;
		}
	}
}
.primary-btn-main {
	color: $color_brightorange;
}
.btn-small {
	padding: 8px 16px;
}
.disabled-btn {
	color: $color_lightgrey !important;
	border: solid 2px $color_lightgrey !important;
	background-color: $color_transparent !important;
	&:hover {
		color: $color_lightgrey !important;
		border: solid 2px $color_lightgrey !important;
		background-color: $color_transparent !important;
		cursor: default !important;
	}
}
@media (max-width: 767px) {
	.primary-btn {
		// width: 100%;
	}
	.btn-width-maintain {
		width: fit-content;
		width: auto;
	}
}


// new design common css starts
.new-btn-light-back {
    border-color: #000;
    color: #000;
    &:hover {
        border-color: #FF5C00;
        color: #fff;
    }
}

.new-btn-dark-back {
    border-color: #fff;
    color: #fff;
    &:hover {
        border-color: #FF5C00;
        color: #fff;
    }
}
// new design common css ends