@import "variables";
@import "mixins";
@import "base";
// @import "../../node_modules/font-awesome/scss/fontawesome";
@import "common";
@import "buttons";


@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$mat-deep-orange: (
    50: #ff5c00,
    100: #ff5c00,
    200: #ff5c00,
    300: #ff5c00,
    400: #fc8259,
    500: #ff5c00,
    600: #fa551d,
    700: #f44205,
    800: #d63a04,
    900: #b83204,
    A100: #ff5c00,
    A200: #ff5c00,
    A400: #ff5c00,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: #ff5c00,
        600: #ff5c00,
        700: #ff5c00,
        800: #ff5c00,
        900: #ff5c00,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: #ff5c00,
    )
);

// $mat-deep-orange: (
//   500: #ff5c00,
//   contrast: (
//     500: #ff5c00,
//   )
// );

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-deep-orange, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
  .mat-input-element {
      color: #fff;
  }
}
