<div class="smart-main flex-column-display">
  <div class="loader-bg" [hidden]="!showLoader"></div>
  <div class="loader" [hidden]="!showLoader"></div>
  <site-selex-custom-popup [showPopUp]="showPopUpMessage" (closePopup)="receivedClosePopup()" *ngIf="showPopUpTrue"></site-selex-custom-popup>
  <header class="login-header">
    <h6 class="title"><img src="./assets/5barslogo.png" title="logo"></h6>
  </header>
  <div class="sign-in-page remove-mrgn-left-right">
    <div class="login-main-container">
      <div class="site-acquisition-quote">
          <p>Site acquisition and planning for small cell deployment made easy</p>
      </div>
      <div class="register">
        <form class="loginPageForm" (ngSubmit)="resetPswrdFormSubmit(resetPswrdForm)" #resetPswrdForm="ngForm">
          <div class="pad-0-20">
              <h1>Create Password</h1>
              <div class="pos-rel">
                  <label><span class="glyphicon glyphicon-lock"></span> </label>
                  <input class="lock" placeholder="Password" type="password" #resetPassword name="password" required="" [disabled]="!validUrl" (keyup)="checkPasswordMatchValid(resetPswrdForm)" ngModel>
                  <span (click)="showHidePassword()" *ngIf="!eyeOpen" class="glyphicon glyphicon-eye-close"></span>
                  <span (click)="showHidePassword()" *ngIf="eyeOpen" class="glyphicon glyphicon-eye-open"></span>
              </div>
              <div class="pos-rel">
                  <label><span class="glyphicon glyphicon-lock"></span> </label>
                  <input class="lock" placeholder="Confirm Password" #resetConfirmPassword name="confirmPassword" (keyup)="checkPasswordMatchValid(resetPswrdForm)" ngModel [disabled]="!validUrl" #confirmPassowrd="ngModel" type="password" required="">
                  <span (click)="showHidePassword()" *ngIf="!eyeOpen" class="glyphicon glyphicon-eye-close"></span>
                  <span (click)="showHidePassword()" *ngIf="eyeOpen" class="glyphicon glyphicon-eye-open"></span>
              </div>
              
              <div class="row validationChecks">
                <div class="col-sm-6">
                  <span [ngClass]="passucaseVali ? 'glyphicon-ok':'glyphicon-remove'" class="glyphicon"></span> Uppercase<br>
                  <span [ngClass]="passnumVali ? 'glyphicon-ok':'glyphicon-remove'" class="glyphicon"></span> Number
                </div>
                <div class="col-sm-6">
                  <span [ngClass]="passlcaseVali ? 'glyphicon-ok':'glyphicon-remove'" class="glyphicon"></span> Lowercase<br>
                  <span [ngClass]="passscharVali ? 'glyphicon-ok':'glyphicon-remove'" class="glyphicon"></span> Special character
                </div>
                <div class="col-sm-6">
                  <span [ngClass]="pass8charVali ? 'glyphicon-ok':'glyphicon-remove'" class="glyphicon"></span> Atleast 8 characters<br>
                </div>
              </div>

              <div class="sign-up">
                <button class="primary-btn primary-btn-main" [class.disabled-btn]="!resetPswrdFormFullvalid" [disabled]="!resetPswrdFormFullvalid" type="submit">Create Password</button>
              </div>
            
          </div>
        </form>
      </div>
    </div>
    
  </div>
  <footer class="login-footer">
      <p class="copyright-text">&copy; 2018 XG Communities. All rights reserved</p>
  </footer>
</div>
<!-- <div class="col-md-6 sign-in-right-section">
      <section class="blurBg"></section>
      <p>Site acquisition and planning for small cell deployment made easy</p>
      <a class="primary-btn hide" (click)="showNewUser()">Request Access</a>
    </div> -->
