<div class="container-fluid">
  <app-header-new></app-header-new>

  <div class="container-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-heading">
      <h1>Welcome to SiteSelex</h1>
      <p>
        SiteSeleX provides a carrier-friendly platform for operators to Acquire and Reserve sites on publicly-owned infrastructure for small cell attachment. XG works on behalf of cities and other jurisdictions to identify potential locations, pre-approved aesthetics and pre-set pricing.
      </p>
    </div>

    <div class="dark-bcgd">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center find-site-home">
        <h2>Find and Reserve Sites</h2>
        <p>Search for the available sites, view site details, price and request to reserve</p>
        <p class="cursor-pointer" (click)="navigateToReserve('input')">
          <i class="fas fa-map-marked"></i>
          <i class="fa fa-search"></i>
        </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center upload-site-home">
        <h2>Upload File</h2>
        <p>You can upload file with the site ID's to request site(s) reservation</p>
        <p class="cursor-pointer" (click)="navigateToReserve('upload')">
          <a href="javascript:void(0)" class="hover-file-icon">
            <i class="fas fa-file-upload"></i>
          </a>
        </p>
        <a href="../assets/csv_files/bulk_upload/bulk_upload.csv" target="_blank" download class="download-file-anchor">
          <i class="fa fa-download"></i>
          <span>Sample Site ID File</span>
        </a>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row request-site-sec text-center">
      <p>
        <i>Not seeing what you want?</i>
      </p>
      <h3>Request For New Site</h3>
      <a class="primary-btn new-btn-dark-back" [routerLink]="['/requestsite']" href="javascript:void(0)">Request Now</a>
    </div>

  </div>
  <site-selex-footer></site-selex-footer>
</div>
