@import "~sass/variables";
@import "~sass/mixins";

.container-fluid {
  padding: 0px;
}

// .container-heading {
//     background: url('../../assets/BackgroundImage-2.png') no-repeat;
//     background-position: center;
//     color: #fff;
//     text-align: center;
//     padding: 130px 20px 110px 20px;
//     @include mqueryphone(320px, 767px) {
//     	padding: 120px 20px 90px 20px;
//     }
//     h1 {
//         font-weight: 700;
//         margin-bottom: 40px;
//     }
//     p {
//         font-size: 20px;
//         letter-spacing: 1px;
//         width: 80%;
//         margin: 0 auto;
//         background: rgba(0, 0, 0, 0.3);
//     }
// }

.dark-bcgd {
  background: rgb(27, 27, 27);
  float: left;
  width: 100%;
  border: 15px solid #fff;
  display: flex;
  @include mqueryphone(320px, 767px) {
    display: block;
  }
}

.find-site-home,
.upload-site-home {
  color: $background_color_light;
  padding: 25px 15px;
  h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: $color_white;
    margin-bottom: 20px;
    font-weight: 700;
  }
  p {
    letter-spacing: 1px;
    font-size: 18px;
  }
  i {
    color: #fff;
    font-size: 4em;
    margin-top: 30px;
    margin-bottom: 20px;
    &:hover {
      color: #ff5c00;
    }
    &.fa-download {
      font-size: 2.5em;
    }
    &.fa-search {
      font-size: 2em;
      margin-left: 5px;
      vertical-align: super;
    }
  }
  .download-file-anchor {
    color: $background_color_light;
    i {
      color: $background_color_light;
      margin: 0px;
      font-size: 1.5em;
      &:hover {
        color: #ff5c00;
      }
    }
    span {
      vertical-align: top;
      // margin-top: 8px;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.find-site-home {
  border-right: 7.5px solid $color_white;
  @include mqueryphone(320px, 767px) {
    border-right: 0;
    border-bottom: 7.5px solid $color_white;
  }
}

.upload-site-home {
  border-left: 7.5px solid $color_white;
  @include mqueryphone(320px, 767px) {
    border-left: 0;
    border-top: 7.5px solid $color_white;
  }
}

.request-site-sec {
  // background-image: -webkit-gradient(linear, 0 0, 965 11, from(#262626), to(#595959));
  // background-image: -webkit-linear-gradient(359.34691577290107deg, #262626, #595959);
  // background-image: -moz-linear-gradient(359.34691577290107deg, #262626, #595959);
  // background-image: -o-linear-gradient(359.34691577290107deg, #262626, #595959);
  // background-image: linear-gradient(90.65308422709893deg, #262626, #595959);
  background-image: url("../../assets/NewSite_Image.jpg");
  background-position: center;
  background-size: cover;
  padding: 40px;
  color: $background_color_light;
  margin: 0px;
  p {
    letter-spacing: 1px;
    font-size: 18px;
  }
  h3 {
    margin-top: 20px;
    font-size: 30px;
  }
  a {
    margin-top: 35px;
  }
}

// .hover-file-icon {
//     &:hover {
//         .fa-file:before {
//             content: "\f1c7";
//             color: #fff;
//         }
//     }
// }
