<?php

	/**
	* @var \Magento\Sales\Block\Adminhtml\Order\View\Info $block
	*/
	$order = $block->getOrder();
?>
<section class="admin__page-section custom-tab-content">
	<div class="admin__page-section-title">
		<span class="title"><?= $block->escapeHtml(__('Site Contact Details')) ?></span>
	</div>
	<div class="admin__page-section-content">
		<table class="admin__table-secondary order-information-table">
			<tr>
				<th><?= $block->escapeHtml(__('Site Contact Name')) ?></th>
				<td><?= $block->escapeHtml($order->getSiteContactName()) ?></td>
			</tr>
			<tr>
				<th><?= $block->escapeHtml(__('Site Contact Email')) ?></th>
				<td><?= $block->escapeHtml($order->getSiteContactEmail()) ?></td>
			</tr>
			<tr>
				<th><?= $block->escapeHtml(__('Site Contact Phone')) ?></th>
				<td><?= $block->escapeHtml($order->getSiteContactPhone()) ?></td>
			</tr>
		</table>
	</div>
</section>