@import "~sass/variables";
@import "~sass/mixins";
.payment-card {
  padding: 30px 20px;
  img {
    width: 100px;
    float: right;
    margin-top: 17px;
    @include mquery(374px) {
      width: 80px;
      margin-top: 20px;
    }
  }
  span {
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-block;
    margin-top: 15px;
  }
  p {
    color: $color_lightgrey;
  }
  &.row {
    margin: 0 0 5px 0;
    padding: 10px 0;
  }
}

.payment-page {
  padding-bottom: 20px;
  float: left;
  padding-top: 20px;
  width: 100%;
  .loader-bg {
    bottom: 0px;
  }
  .loader {
    bottom: 30%;
  }
  // .checkbox {
  //   position: relative;
  //   cursor: pointer;
  //   margin: 0;
  //   padding-left: 33px;
  //   font-weight: normal;
  //   margin-bottom: 20px;
  //   width: fit-content;
  //   width: auto;
  //   input {
  //     &:checked+i {
  //       border-color: $color_lightgrey;
  //       &:after {
  //         opacity: 1;
  //       }
  //     }
  //     position: absolute;
  //     left: -9999px;
  //   }
  //   i {
  //     position: absolute;
  //     bottom: -2px;
  //     left: 0;
  //     display: block;
  //     outline: none;
  //     border: 2px solid $color_black;
  //     background-color: $color_white;
  //     height: 20px;
  //     width: 20px;
  //     top: 3px;
  //   }
  //   input+i {
  //     &:after {
  //       position: absolute;
  //       opacity: 0;
  //       @include vendorize(transition, opacity 0.1s);
  //       content: "";
  //       background: url(../../assets/img-sp.png) no-repeat -272px -238px;
  //       width: 16px;
  //       height: 16px;
  //       font: normal 12px/16px FontAwesome;
  //       text-align: center;
  //       left: 0;
  //       top: 0;
  //     }
  //   }
  // }
  .allsitepocheckbox {
    margin-bottom: 5px;
  }
}

label.radio {
  font-size: 1em;
  padding-left: 4em;
  padding-top: 0.2em;
  margin: 0.5em 0 0.9em;
  input+i {
    &:after {
      position: absolute;
      opacity: 0;
      transition: opacity 0.1s;
      -o-transition: opacity 0.1s;
      -ms-transition: opacity 0.1s;
      -moz-transition: opacity 0.1s;
      -webkit-transition: opacity 0.1s;
      content: "";
      top: 6.7px;
      left: 6.7px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $color_white;
    }
  }
  input {
    &:checked+i {
      background: $color_brightorange;
      &:after {
        opacity: 1;
      }
    }
    position: absolute;
    left: -9999px;
  }
  i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    outline: none;
    background: $background_color_light;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
  }
}

.single-po-section {
  margin-top: 20px;
  width: 159px;
  display: none;
}

.single-po-error {
  color: $color_lightorange;
  font-size: 16px;
  height: 24px;
  display: none;
}

.allsitepocheckbox {
  display: none;
}

.project-contact-section {
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  .projectcontactemailfromdd {
    margin-bottom: 12px;
    background: $color_white;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.input-label {
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}

.projectcontactdropdown {
  color: $color_black;
  border: inherit;
  height: 46px;
  width: 250px;
  padding: 10px;
  border: solid 1px $color_lightestgrey;
  margin-bottom: 10px;
}

.payment-details {
  padding: 20px 0;
  width: 80%;
  margin: auto;
}

.paymentTypeLabel {
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
  margin-top: 10px;
}

.to-search-link {
  font-size: 24px;
  float: right;
}

.added-sites-new-table {
  width: 100%;
  display: flex;
  padding: 30px 30px 30px 0;
  border-bottom: solid 1px $color_lightgrey;
  .index {
    height: 100%;
    margin-right: 10px;
    font-size: 26px;
    font-weight: 700;
    padding: 0 20px;
  }
  .site-id {
    font-size: 26px;
    font-weight: 700;
    .wait-list-mess {
      float: right;
      margin-top: 5px;
      color: $color_red;
      font-size: 16px;
    }
  }
  .site-details {
    font-size: 15px;
    color: $color_lightgrey;
  }
  .fee-details {
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .fee-div {
    margin-bottom: 5px;
  }
  .site-left {
    margin-bottom: 20px;
    width: 100%;
  }
  .amount-type {
    font-weight: 700;
  }
  .amount {
    font-size: 24px;
    font-weight: 700;
  }
  sub {
    font-weight: 700;
    bottom: 0;
  }
}

.added-site-total-table {
  padding-top: 0;
  border: none;
  padding: 20px 30px 20px 0;
  .total-text {
    font-size: 24px;
    font-weight: 700;
  }
  .fee-details {
    margin-top: 0;
    justify-content: space-evenly;
    @include mqueryphone(320px, 767px) {
      justify-content: left;
    }
  }
  .amount-type {
    font-weight: normal;
  }
}

.new-contact-add-section {
  padding: 20px;
  background-color: $background_color_light;
  margin-top: 20px;
}

.new-contact-box {
  margin-top: 10px;
  input {
    display: block;
  }
}

.new-contact-addbtn-box {
  margin-top: 20px;
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.new-contact-input {
  outline: none;
  font-size: 15px;
  padding: 10px;
  border: 1px solid $color_lightgrey;
  width: 100%;
}

.cancelAddContact {
  color: $color_lightorange;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  margin: 2em 0 0;
  margin-right: 15px;
}

.payment-left {
  background: $color_white;
  padding: 40px 20px 40px 30px;
  // .ponumber {
  //   margin-top: 10px;
  //   float: left;
  // }
  p.po-error-msg {
    color: $color_lightorange;
    font-size: 16px;
    height: 24px;
    margin-top: -15px;
  }
  p.pomessage {
    margin-top: -15px;
  }
  ul.sublic-links {
    margin: 5px 0 15px 20px;
    li {
      color: $color_lightgrey;
    }
  }
}

.wait-list-con {
  padding-left: 15px;
  >p {
    border-top: solid 1px #a7a7a7;
    padding-left: 40px;
    padding-top: 30px;
    font-size: 24px;
    margin-bottom: 20px;
    .glyphicon-ok {
      color: $color_green;
      margin-right: 5px;
      font-size: 1.2em;
    }
  } // >ol {
  //   margin-left: 45px;
  //   li {
  //     font-weight: 700;
  //     font-size: 26px;
  //   }
  // }
  agm-map {
    height: 200px;
    padding: 0 20px 0 50px;
    margin-bottom: 15px;
    display: block;
    @include mqueryphone(320px, 767px) {
      padding: 0 0 0 20px;
    }
  }
}
