@import "~sass/variables";
@import "~sass/mixins";
.container-fluid {
  padding: 0px;
}

// .container-heading {
//     background: url('../../assets/BackgroundImage-2.png') no-repeat;
//     background-position: center;
//     color: #fff;
//     text-align: center;
//     padding: 130px 20px 110px 20px;
//     @include mqueryphone(320px, 767px) {
//     	padding: 120px 20px 90px 20px;
//     }
//     h1 {
//         font-weight: 700;
//         margin-bottom: 40px;
//     }
//     p {
//         font-size: 20px;
//         letter-spacing: 1px;
//         width: 80%;
//         margin: 0 auto;
//     }
// }
.dark-bcgd {
  // background: rgb(27, 27, 27);
  float: left;
  width: 100%;
  >form {
    background: rgb(27, 27, 27);
    >p {
      color: $color_white;
      margin-left: 35px;
      padding-top: 15px;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.state-city-drpdwn {
  // margin: 0px;
  // display: inline-block;
  // width: 100%;
  // padding: 20px 15px;
  // @include mqueryphone(320px, 767px) {
  //   padding-bottom: 10px;
  // }
  // p {
  //   color: $background_color_light;
  //   font-size: 20px;
  //   padding-left: 10px;
  // }
  select {
    outline: none;
    font-size: 16px;
    color: $background_color_light;
    padding: 10px;
    border: 1px solid $background_color_light;
    width: 100%;
  }
  // .download-file-con {
  //   padding-top: 8px;
  //   font-size: 18px;
  //   @include mqueryphone(320px, 767px) {
  //     margin-top: 10px;
  //   }
  //   .fa-download {
  //     &:before {
  //       font-size: 28px;
  //     }
  //   }
  //   a {
  //     color: $background_color_light;
  //     span {
  //       vertical-align: top;
  //       margin-left: 5px;
  //     }
  //   }
  // }
}

.map-section {
  position: relative;
  color: $color_black;
  .fa-location-arrow {
    position: absolute;
    top: 20px;
    right: 17px;
    background: $color_white;
    cursor: pointer;
    z-index: 1;
    border: 6px solid $color_white;
  }
  agm-map {
    height: 400px;
  }
  .map-loader {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0px;
    .small-loader {
      border: 6px solid #fff;
      border-top: 6px solid #ef6b25;
      width: 40px;
      height: 40px;
      top: 45%;
      right: 50%;
    }
  }
}

.enter-id-sec {
  margin: 0px;
  padding: 0px 15px 20px 15px;
  // input {
  //   outline: none;
  //   font-size: 20px;
  //   color: $background_color_light;
  //   padding: 10px;
  //   border: 1px solid $background_color_light;
  //   width: 100%;
  //   background: transparent;
  //   height: 45px;
  //   vertical-align: top;
  //   @include mqueryphone(320px, 767px) {
  //     margin-top: 20px;
  //   }
  // }
  select {
    outline: none;
    font-size: 16px;
    color: $background_color_light;
    padding: 10px;
    border: 1px solid $background_color_light;
    width: 100%;
    height: 45px;
  }
  .other-swap-selected {
    // font-size: 0px;
    .mat-form-field {
      width: 35%;
    }
    // .fa-angle-down {
    //   right: 67%;
    //   top: 15%;
    // }
    .mat-form-field-type-mat-input {
      width: 65%;
      border-left: 0px;
    }
  }
  .primary-btn {
    width: 80%;
    @include mqueryipad(768px, 1024px) {
      margin-top: 20px;
      width: 100%;
    }
    @include mqueryphone(320px, 767px) {
      margin-top: 20px;
      width: 100%;
    }
  }
}

.site-reservation-cart-sec {
  margin: 20px 0 0 0;
  padding: 0px 15px; // color: #fff;
  background: #e2e3e6;
  @include mqueryphone(320px, 767px) {
    padding: 0px;
  }
  h3 {
    // border-top: 1px solid #fff;
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .note {
    margin-bottom: 15px;
    font-weight: bold;
  }
  .search-item {
    padding: 0;
    margin: 0 0 20px 0;
    background: rgb(216, 216, 216);
    .site-details-con {
      // &:before {
      //   content: "";
      //   display: block;
      //   width: 0;
      //   height: 0;
      //   position: absolute;
      //   border-right: 20px solid transparent;
      //   border-left: 20px solid transparent;
      //   border-bottom: 10px solid #fff;
      //   top: -10px;
      //   left: 51%;
      // }
      background: #fff;
      // margin-top: 20px;
      padding: 15px;
      position: relative;
      .glyphicon-remove {
        position: absolute;
        right: 2%;
        top: 10%;
        z-index: 1;
        cursor: pointer;
      }
      agm-map {
        height: 170px;
      }
      h3 {
        color: $color_black;
      }
      .view-details-left-sec {
        span {
          display: block;
          color: #000;
          // font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
      }
      .view-details-right-sec {
        ol {
          padding-left: 15px;
          li {
            color: #000;
            font-weight: 600;
            font-size: 14px;
            a {
              color: #ff5c00;
              font-size: 14px;
            }
          }
        }
        .primary-btn {
          margin-top: 20px;
          padding: 5px 10px;
        }
      }
    }
  }
  .search-item-left-sec {
    color: $color_black;
    border-right: 2px solid rgb(179, 179, 179);
    padding-right: 25px;
    h4 {
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 18px;
    }
    .optionalSiteFeeLabel {
      margin-top: 10px;
      display: block;
    }
    .optionalConduitLabel {
      margin-top: 10px;
      display: block;
      margin-bottom: 15px;
    }
    .wait-list-mes {
      color: $color_red;
      font-weight: bold;
      margin: 10px 0 10px 0;
    }
  }
  .search-item-right-sec {
    color: $color_black;
    padding-top: 30px;
    margin-bottom: 20px;
    &.site-details-shown {
      margin-bottom: 0px;
    }
    .otf-total {
      font-weight: 600;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 18px;
    }
    .glyphicon-plus,
    .glyphicon-minus {
      color: #ff5c00;
      cursor: pointer;
    }
    .view-details {
      margin-top: 45px;
      display: inline-block;
      position: relative; 
    }
    .site-details {
      font-size: 15px;
      margin-left: 25px;
    }
  }
  .remove-site-sec {
    text-align: center;
    >a {
      font-size: 3em;
      font-family: sans-serif;
      margin-top: 50%;
      color: $color_brightorange;
      display: inline-block;
      @include mqueryphone(320px, 767px) {
        margin-top: 80%;
      }
    }
    >p {
      margin-top: -18px;
      z-index: -1;
      color: $color_black;
      cursor: pointer;
    }
  }
}

.review-order-btn-container {
  padding: 0px 0px 20px 30px;
  background: #e2e3e6;
  @include mqueryphone(320px, 767px) {
    padding: 0px 0px 20px 0px;
  }
  .primary-btn {
    @include mqueryipad(768px, 1024px) {
      width: 50%;
    }
    @include mqueryphone(320px, 767px) {
      width: 80%;
      margin-left: 10%;
    }
  }
}

.request-site-sec {
  // background-image: -webkit-gradient(linear, 0 0, 965 11, from(#262626), to(#595959));
  // background-image: -webkit-linear-gradient(359.34691577290107deg, #262626, #595959);
  // background-image: -moz-linear-gradient(359.34691577290107deg, #262626, #595959);
  // background-image: -o-linear-gradient(359.34691577290107deg, #262626, #595959);
  // background-image: linear-gradient(90.65308422709893deg, #262626, #595959);
  background-image: url("../../assets/NewSite_Image.jpg");
  background-position: center;
  background-size: cover;
  padding: 40px;
  color: $background_color_light;
  margin: 20px 0 0 0;
  p {
    letter-spacing: 1px;
    font-size: 18px;
  }
  h3 {
    margin-top: 20px;
    font-size: 30px;
  }
  a {
    margin-top: 35px;
  }
}

.upload-file-section {
  margin: 0px;
  color: #eeeeee;
  padding: 20px;
  border: 2px dashed $color_darkgrey;
  width: 96%;
  margin: 0 auto 30px auto;
  position: relative;
  &:hover {
    .new-btn-dark-back {
      border-color: #ff5c00;
      background-color: #ff5c00;
      color: #fff;
      &:after {
        opacity: 1;
          right: 10px;
      }
    }
    .glyphicon-cloud-upload {
      color: #ff5c00;
    }
  }
  >p {
    margin-bottom: 20px;
    margin-right: 15px;
    font-size: 20px;
    span {
      vertical-align: top;
      margin-top: 5px;
      display: inline-block;
      &.glyphicon-cloud-upload {
        font-size: 30px;
        margin-right: 10px;
        vertical-align: bottom;
        margin-top: 0px;
      }
    }
  }
  >span {
    display: block;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.upload-file-section {
  .available-brief-details {
    padding: 0px;
    .brief-desc-con {
      background: #c7bdb7;
      padding: 15px 8px;
      margin-top: 20px;
      position: relative;
      >p {
        display: inline-block;
        color: $color_black;
        font-size: 14px;
        font-weight: bold;
        @include mqueryphone(320px,
        767px) {
          width: 50%;
        }
        a {
          color: $color_black;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .badge {
        position: absolute;
        right: 10%;
        top: 12px;
        font-size: 18px;
        height: 30px;
        border-radius: 50%;
        line-height: 25px;
        @include mqueryipad(768px,
        1024px) {
          right: 2%;
        }
      }
      &.available {
        >span {
          color: #528971;
          width: 90px;
          display: inline-block;
          font-weight: bold;
          @include mqueryphone(320px,
          767px) {
            vertical-align: top;
          }
          &.badge {
            width: 30px;
            color: $color_black;
            background: #528971;
          }
        }
      }
      &.waitlist {
        >span {
          color: #bd6563;
          width: 90px;
          display: inline-block;
          font-weight: bold;
          @include mqueryphone(320px,
          767px) {
            vertical-align: top;
          }
          &.badge {
            width: 30px;
            color: $color_black;
            background: #bd6563;
          }
        }
      }
    }
    .clear-all-sec {
      >a {
        margin-top: 10px;
        display: inline-block;
        color: #fff;
        >span {
          font-weight: bold;
          color: #ff5c00;
          font-family: sans-serif;
        }
      }
    }
  }
  .available-bried-right {
    padding: 15px 5%;
    >label {
      font-size: 20px;
      color: $color_white;
      letter-spacing: 1px;
      &.customChekboxLable {
        padding-left: 40px;
      }
      i {
        border-color: #ff5c00;
        background-color: transparent;
        height: 25px;
        width: 25px;
        &:after {
          transform-origin: 11px 17px;
          width: 10px;
          height: 20px;
        }
      }
    }
    >button {
      display: block;
      margin-top: 8.5%;
      width: 80%;
      padding: 20px;
      font-size: 22px;
      @include mqueryipad(768px,
      1024px) {
        width: 100%;
        font-size: 18px;
      }
      @include mqueryphone(320px,
      767px) {
        width: 100%;
      }
    }
  }
}

.show-more-upload-site-details {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.3);
  .glyphicon-remove {
    color: #de3210;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }
  p {
    margin: 10px 0 0 0;
  }
}

.bulk-file-input {
  position: absolute;
  opacity: 0;
  border: 0;
  background: none;
  filter: alpha(opacity=0);
  outline: none;
  left: 0px;
  top: 0px;
  cursor: pointer;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.waitListSuccessMsg {
  font-size: 18px;
  color: $color_lightorange;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-left: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  .glyphicon-ok {
    color: $color_green;
    margin-right: 5px;
    font-size: 1.2em;
  }
}
